/*

~chrisnicholls.co.nz

*/

/*
	Global Styles
*/

*, *:after, *:before {
	.box-sizing(border-box);
	
}

*:active, *:hover {
	outline:0;
}

body {

	margin:0;
	overflow-x:hidden;
}

@link-color:#e7a827;

a, a:active, a:visited {

	color:@link-color;
	text-decoration: none;

	.transition(all .3s);
	.opacity(1);
	outline:0;

	&:hover {
		color:lighten(@link-color, 20%);
	}

	&.anchor {
		display:none;
	}

	.obfuscate {
		display:none;
	}

}


/*  
	Useful Modules
*/

div.button, div.button a, div.button a:before {
	.border-radius(5px);
}


div.button {

	position:relative;
	margin:0 auto;
	max-width:400px;
	height:65px;

	min-width:200px;


	width:100%;

	text-align:center;
	background:#371E12;
	padding:4px;

	display:table;

	.transition(all .1s);

	&:hover {

		padding:2px;
	}

	&:active {

		padding:3px;
	}


	&.green a {

		background: rgb(153,188,76); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */	
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5YmM0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MWEzMzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);	
		background: -moz-linear-gradient(top,  rgba(153,188,76,1) 0%, rgba(129,163,56,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,188,76,1)), color-stop(100%,rgba(129,163,56,1))); /* Chrome,Safari4+ */	
		background: -webkit-linear-gradient(top,  rgba(153,188,76,1) 0%,rgba(129,163,56,1) 100%); /* Chrome10+,Safari5.1+ */	
		background: -o-linear-gradient(top,  rgba(153,188,76,1) 0%,rgba(129,163,56,1) 100%); /* Opera 11.10+ */	
		background: -ms-linear-gradient(top,  rgba(153,188,76,1) 0%,rgba(129,163,56,1) 100%); /* IE10+ */	
		background: linear-gradient(to bottom,  rgba(153,188,76,1) 0%,rgba(129,163,56,1) 100%); /* W3C */	
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99bc4c', endColorstr='#81a338',GradientType=0 ); /* IE6-8 */
	}

	&.yellow a {

		background: rgb(239,206,108); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmY2U2YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWI0NTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);	
		background: -moz-linear-gradient(top,  rgba(239,206,108,1) 0%, rgba(234,180,89,1) 100%); /* FF3.6+ */	
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,206,108,1)), color-stop(100%,rgba(234,180,89,1))); /* Chrome,Safari4+ */	
		background: -webkit-linear-gradient(top,  rgba(239,206,108,1) 0%,rgba(234,180,89,1) 100%); /* Chrome10+,Safari5.1+ */	
		background: -o-linear-gradient(top,  rgba(239,206,108,1) 0%,rgba(234,180,89,1) 100%); /* Opera 11.10+ */	
		background: -ms-linear-gradient(top,  rgba(239,206,108,1) 0%,rgba(234,180,89,1) 100%); /* IE10+ */	
		background: linear-gradient(to bottom,  rgba(239,206,108,1) 0%,rgba(234,180,89,1) 100%); /* W3C */	
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efce6c', endColorstr='#eab459',GradientType=0 ); /* IE6-8 */	

	}


	a {	
		position:relative;
		z-index:19;
		.text-shadow(0px 1px 0px rgba(255,255,255,.5));	
		color:#222222;	
		text-align:center;

		font-family:@primary-font;
		line-height:1.25em;
		font-size:1.35em;
		text-transform:uppercase;
		padding:5px;

		display:table-cell;
		vertical-align:middle;

		width:100%;
		height:100%;
		cursor:pointer;		

		.transition(all .3s);

		&:hover {			
			color:#222;
		}

		&:active {

			color:#222;	

			
		}


		&:before {

				position:absolute;
				top:50%;
				left:50%;
				width:98%;
				height:92%;

				.transform(translateX(-50%) translateY(-50%));

				margin:;
				display:block;
				content:'';
				border:1px #222 dashed;
				z-index:22;
				.opacity(1);
		}


		

	}


}

/* 	Navigation buttons */

.arrow {

	position:relative;

	width:100px;
	height:100px;
	margin-top:-50px;

	display:block;
	cursor:pointer;

	.transition(all .3s ease);
	.transform(scale(0.8));

	&:hover {
		.transform(scale(1));
	}

	&:active {
		.transform(scale(0.7));
	}

	&.right {
		margin-right:-50px;
	}

	&.left {
		.transform(scale(0.8) rotate(180deg));

		margin-left:-50px;

		&:hover {

			.transform(scale(1) rotate(180deg));

		}

		&:active {

			.transform(scale(0.7) rotate(180deg));

		}

	}
	


}

.woodTexture() {
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	content:'';
	background:url('../img/texture_inv.png?V=2');
}

.plaque-wrapper {
	position:relative;

	width:90%;
	left:50%;
	.transform(translateX(-50%));
	max-width:700px;

	z-index:10;		
	display:block;
	.transition(all .3s);	

	.content {

		background-color:@plaqueBackground;

		border:7px @plaqueBorder solid;
		border-bottom:0px;
		border-top:0px;
		min-height:200px;

		padding:20px 30px;
		margin:0 @gapFix;
		top:0px;
		
		position:relative;
		top:0px;

		.no-select();

		&.flush {

			padding:0px 10px;
		}
	

		.title, p {
			position:relative; 
			z-index:12;
			.text-shadow(0px -1px 0px rgba(0,0,0,.5));	
			color:#f7f1f1;	
			text-align:center;
			font-family: @primary-font;	

		}

		.title {
			font-family:@primary-font;
			line-height:1.25em;

		}

		p {
			padding:25px 0px;
			padding-bottom:0%;
			font-family: @secondary-font;
			color: darken(#fff, 10%);
		}

		a.link {

			padding:0px 4px;
			font-family:@primary-font;
			font-size:1.32em;

		}

		.image-decoration, .image-shell {
			margin:25px auto;	
			margin-bottom:0px;
		}

		.image-decoration {
			display:block;
		
			overflow:auto;
			width:350px;			
			background-repeat:no-repeat;
			height:40px;	
		}

		.image-shell {

			width:45px;
			height:40px;
			position:relative;
			display:block;

			&.left {
				float:left;
				left:0px;
			}

			&.right {
				float:right;
				right:0px;
				.transform(scaleX(-1));
			}
		}
/*	
		&:after {
			.woodTexture();
		}*/

	}

	


	span.image-bar {
		position:relative;
		clear:both;
		display:block;
		margin: 0 40px;

		height:40px;
		background-color:@plaqueBackground;
		overflow:visible;

	
		background-repeat:repeat-x;
		background-size:40px 40px;
		
		border-top:6px solid @plaqueBorder;

		&.top { 
			top:@gapFix;  /* Extra pixels to prevent zoom errors */
			background-position:center -14px;
		}

		&.bottom {
			bottom:@gapFix;
			.transform(scaleY(-1));
			background-position:center -14px;

		}

	}

	span.image-corner {
		width:40px;
		height:40px;
		display:block;
		position:absolute;
		
		&.top {
			top:@gapFix;

			&.right {
				float:right;
				.transform( scaleX(-1) );
			}
		}

		&.bottom {			
			
			bottom:@gapFix;

			&.left {
				.transform( scaleY(-1) );
			}

			&.right {
				float:right;
				.transform(rotate(180deg));
			}
		}

		&.left {
			left:@gapFix; /* Extra pixels to prevent zoom errors */
		}

		&.right {
			right:@gapFix;	/* Extra pixels to prevent zoom errors */		
		}
	}

}


/* 	Containers for SVG images */

.character {
	position:relative;
	display:block;

	&.cow {

		width:600px;
		height:400px;
		top:50%;
		margin-top:-200px;
		left:50%;
		margin-left:-300px;
		background-size:100% 100%;
	}
	&.chicken {
		width:150px;
		height:180px;
		margin-top:-90px;
		margin-left:-75px;
		background-size:100% 100%;
	}


}

.static {
	z-index:198;
	overflow:visible;
	position:absolute;

	&.image-sheep_debris {

		width:1200px;
		height:650px;

	}

	&.image-sheep_seedy {

		margin-left:-150px;
		margin-top:-150px;
		width:300px;
		height:300px;	
		z-index:203;
	}

	&.image-bluebird, &.image-brownbird {
		
		top:300px;
		left:50%;		

		width:80px;
		height:80px;

		display:block;
		z-index:202;

		&#bl1 {
			margin-left:-600px;
		}

		&#bl2 {
			margin-left:300px;
		}


		&#br1 {
			margin-left:300px;
		}

		&#br2 {
			margin-left:300px;
		}
		

	}

	&.image-vote_box {
		width:300px;
		height:200px;
	}

	&.image-hill_center {


		left:50%;		
		background-position:0px 0px;
		width:1200px;
		height:1600px;
		display:block;
		z-index:203;

		&#center1 {
			top:1150px;
			margin-left:-600px;
		}

		&#center2 {
			top:2600px;
			margin-left:-700px;
			.transform(rotate(-30deg));
		}
	}

	&.image-clouds {

		top:0px;
		left:0px;
		background-repeat:repeat-x;		
		background-color:#c5dfdc;
		width:100%;
		height:1200px;
		display:block;
		z-index:198;
		.cssPerformance();
		.animation(cloudLoop 80s linear infinite);
	}

	&.image-sheep_fence {
		

		width:800px;
		height:400px;
		display:block;
		

	}

	&.image-signpost {
		
		top:730px;
		left:50%;
		margin-left:-520px;
		width:30px;
		height:340px;
		display:block;
		z-index:206;
		.transform(rotate(-3deg));
		.transform-origin(50% 100%);

		cursor:pointer;

	
		.image-enrol_sign {
			position:absolute;
			left:50%;
			top:-35px;
			width:135px;
			height:80px;
			z-index:203;
			.transition(all .2s);
			.transform-origin(0% 100%);
			cursor:pointer;

			&:hover {
				.transform(rotate(3deg));
			}

		}

	}
}


div.flag_banner {

	&.image-flag_banner {
		position:absolute;
		
		left:50%;
		height:150px;
		width:800px;
		margin: 0 auto;
		margin-top:120px;
		margin-left:-400px;
/*
		.animation(float 4s forwards infinite);*/
		
	}

	h4 {
		margin-top:26px;
		color: #fff;
		z-index:30;
		font-family:'Otari';	
		font-weight:bold;	
		font-size:1.7em;
		text-align:center;

	}
				
}

/* 	Animated content titles */

.animated-title {

	
	position:relative;
	font-family:@primary-font;
	font-size:2em;
	display:block;
	padding:20px;
	text-align:center;
	
	min-width:1000px;

	left:50%;
	
	.transform(translateX(-50%));
	.transform-origin(50% 80%);
	.transition(all .3s);
	.no-select();

	div.title {
		width:200px;
		height:265px;
		background-size:100% 100%;
		margin:0 auto;
		display:inline-block;	

		&.image-onthefence_title {
			width:300px;
		}
	}	

	div.flag {

		position:inherit;		
		margin-top:45px;

		width:300px;
		height:180px;
	
		background-size:100% 100%;
		background-position:center center;
		display:inline-block;		

		.cssPerformance();

		.text-group {

			position:absolute;
			top:66%;
			right:14%;
			.size(100%, 20px);
			text-align:right;
			color: #56392F;
			z-index:30;
			font-family:'Otari';	
			font-weight:bold;	
			font-size:0.75em;

			.transition(none) !important;
			.opacity(0.95);
			.transform-origin(50% 50%);
			text-rendering: optimizeLegibility;

		}


		&.flag-left {

			.animation(float 4s forwards infinite);
			background-position:right center;

			.text-group {
				.transform(rotateZ(-2deg) );
			}

			

		}

		&.flag-right {
		
			.transform(rotateZ(180deg));
			.animation(float 4s reverse infinite);	
			background-position:right center;

			.text-group {
				.transform(rotateZ(182deg) );
				text-align:left;
			}
			
		}

		&.red path {
			fill:red;
		}
	}


}



/* 
	Custom Styles
*/


body {
	background: #90a73e;
	overflow-x:hidden;

	&:after {
		.opacity(0);
		.transition(all .3s);
		background:#c5dfdc;
		position:fixed;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		z-index:-1;
		content:'';
	}


	&.loading {
		overflow:hidden !important;

		&:after {

			display:block;
			z-index:9999;
			.opacity(1);

		}

		div.sticky-wrapper .header-wrapper {
			margin-top:-55px !important;
		}


	}

	span.preload {
		position:absolute;

	}
}

/* 
	Nav Menu
*/

#menu-toggle {

	position:relative;
	cursor:pointer;
	z-index:901;
	width:120px;
	clear:none;
	text-align:left;

	height:55px;
	padding:20px 15px;

	span {
		width: 100%;
		max-width:30px;
		height: 3px;
		background: @link-color;
		margin: 5px 0px;
		.transition(all 0.3s);
		backface-visibility: hidden;
		display:block;

		&:first-child {
			margin-top:0px;
		}

		&:last-child {
			margin-bottom:0px;
		}
	}

	&.active {

		span {
			background:lighten(@link-color, 30%);

		}

		span.one {
			.transform(rotate(45deg) translate(5px, 6px));
		}

		span.two {
			.opacity(0);
		}

		span.three {
		
			.transform( rotate(-45deg) translate(5px, -6px));
		}
	}
}

.js nav[role=navigation] {
	overflow: hidden;
	max-height: 0;
}

.menu-link, nav[role=navigation] ul li a {
	font-family:@primary-font;		
	color:@link-color;
	font-size:1.1em;
	.text-shadow( 0px 0px 2px rgba(0,0,0,1) );

	display:block;

	padding:20px 20px;
	height:100%;
}

/* Mobile State */
nav[role=navigation] {

	z-index:900;
	width:auto;
	position:relative;
	.no-select();
	.transition(all 0.3s ease-out);

	ul {

		margin: 0;
		padding: 0;

		li {

			display:block;
			width:100%;

			height:55px;
			background: #2b160e;

			float:left;
			clear:both;

			border-bottom:1px rgba(255,255,255,.1) solid;

			a {


				z-index:902;

				&:hover, &:active {	
					color: lighten(@link-color, 30%);
		
				}	
			}
		}
	}

	&.active {

		max-height: 15em;
	}
}

/* Default State */
@media screen and (min-width: 48.25em) {

	#menu-toggle {
	   display: none;
	}

	.js nav[role=navigation] {
		max-height: 55px;
		height:55px;

		ul {

			margin: 0 0 0 -0.25em;
			border: 0;

			li {
				display:inline-block;
				width:auto;
				margin: 0 0.25em;
				background:none;
				clear:none;

				a {
					padding:20px 15px;
					border: 0;
				}
			}
		}
	}
}



div.sticky-wrapper {
	position:absolute;
	top:0px;
	left:0px;
	z-index:200;
}

.header-wrapper { 
	.size(100%, 55px); 
	max-height:55px;
	display:block;
	background:#000;
	position:absolute;
	top:0px;
	left:0px;
	z-index:400;
	background: #2b160e url('../img/light.png') 50% 0 no-repeat;
	border-bottom:#555 solid 1px;

	margin-top:0px;

	.box-shadow(0px 3px 20px rgba(0,0,0,.25));
	.transition(max-height .1s, margin 1s);

	&.stuck {
		position:fixed;
	}

	&:before, &:after {
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		display:block;
		content:'';
	}

	&:before {
		background: url('../img/twirl.png?v=2') repeat-x; 
		z-index:200;
	}

	&:after {		
		background: url('../img/texture.png') repeat; 
		.opacity(50);
		z-index:200;
	}

	#social {

		display:inline-block;		
		position:relative;
		z-index:900;
		min-width:200px;
		float:right;
		text-align:right;

		li {
			display:inline-block;
		}

		a {
			position:relative;
			display:inline-block;
			padding:0;
			height:100%;		

			font-family:@primary-font;		
			color:@link-color;
			text-decoration:none;
			font-style:none;

			cursor:pointer !important;

			.transition(all .2s);

			.text-shadow( 0px 0px 2px rgba(0,0,0,1) );

			&:last-child {
				padding-right:15px;
			}

			.image-twitter_button, .image-facebook_button {


				width:75px;
				height:95px;
				.transform(translateY(-3px));
				.transition(all .3s);
				.transform-origin(50% 0%);

				z-index:199;
			}


			&:hover, &:active {	
				color: lighten(@link-color, 30%);
			}

			&:hover {
				
				.transform(translateY(3px));

				&:after {
					.opacity(10);
				}
			}

			&:active {
				.transform(scale(0.95));
			}

		}		 
	}
}

@page-width:960px;
@gutter: 1%;

article.main-wrapper {

	position:relative;	
	top:0px;

	width:100%;

	display:block;
	z-index:100;
	padding:0;
	margin:0;


	padding-bottom:150px;
	overflow:hidden;
	z-index:199;

	section {

		position:relative;
		left:0px;
		width:100%;

		min-width:320px;
		margin:0;
		padding:0;
		display:table;

		h2 {

			line-height: 1.18em;
			font-size: 2em;
			color:rgb(34,34,34);
			.text-shadow( 0px 1px 0px #fff );
		}

		h3 {
			line-height: 1.18em;
			font-size: 1.7em;
			color:rgb(34,34,34);
			.text-shadow( 0px 1px 0px #fff );			
		}



		.container {
	
			z-index:205;	
			margin:0 auto;
			position: absolute;
			top: 50%;
			left:50%;
			.transform(translateY(-50%) translateX(-50%)) !important;

			img {
				width:100%;
				height:auto;
				margin:0 auto;
				padding:0;
				border:0;
			}

			
			/* Debug */
			/*			
			div {
				background:rgba(0,0,0,.3);
			}*/
		}

		&.tweets {

			background-repeat:repeat;
			z-index:202;
			height:200px;
			min-height:200px;

		}

		&.banner {	
			margin-top:0px;
			top:55px;		
	

			.arrow {
				z-index:206;
			}	

			.arrow.left {
				position:absolute;
				top:50%;
				left:15%;

			}

			.arrow.right {
				position:absolute;
				top:50%;
				right:15%;
			}

			.welcome {
				text-align:center;
				width:100%;
				margin:0 auto;
			}

			.image-onthefence_logo {
				height:350px;
				width:350px;
				margin: 0 auto;
			}
			
		}

		&.hill {
			top:0px;
			height:600px;
			background-position:center center;
			background-repeat:repeat-x;
			/*background-color:#c5dfdc;*/
			z-index:200;

			.image-sheep_fence {
				position:relative;
				top:200px;
				left:50%;

				background-repeat:no-repeat;
				margin-left:-200px;
				z-index:202;

			}

		}

		&.about {
			top:0px;
			height:800px;

			background:#90a73e;

			.cow {
				margin-top:-250px;
				margin-left:-380px;
			}

			.chicken {
				margin-left:150px;
				margin-top:-50px;

				.image-vote_box {
					z-index:-1;
					margin-top:170px;
					margin-left:-20px;
				}
			}		
	
		}

		&.spacer {

			height:500px;
			top:150px;

			.image-sheep_seedy {

				position:absolute;
				top:50%;
				left:50%;				
			
			}
		}

		&#spacer2 {
			height:200px;			
		}

		&.play {

			/*background:#90a73e;*/
			top:0px;
			height:700px;

			.image-sheep_debris {
				position:relative;
				top:400px;
				left:0px;
				margin-left:-300px;
			}
			
		}


	}



}


.footer-wrapper {
	position:relative;
	top:0px;
	margin-top:-120px;
	display:block;
	.size(100%, 120px); 
	float:left;
	z-index:300;


	.container {

		position:absolute; 
		top:50%;
		left:50%;
		.transform(translateX(-50%) translateY(-50%));


		.row {
			

				a {

					color:rgba(0,0,0,.3);
					font-family:@primary-font;
					font-size:0.8em;
					display:inline-block;
					width:100%;
					height:100%;
					line-height:1.35em;
					cursor:pointer;
					text-align:left;
					padding-top:25px;
					.transition(all .1s);

					&:hover, &:active {
						color:rgba(0,0,0,.7);
					}


				}

				div:last-child {

					a {
						text-align:right;
					}
				}


		
			
		}
	}





}


/* 
	Banner Slider Styles 	
*/


.slide-wrapper {
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:100%;

	.container {

		.transform(translateX(200%));
		.opacity(0);
		.no-select();
		text-align:center;

		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;

		.row {
			text-align:center;

			h3, p {


			}
			p {
				padding:20px;
			}
		}
		
		&.active-slide-left, &.active-slide-right {
			.opacity(100);
			.transform(none);
		}

		&.active-slide-left {					
			.iterateDelay(5, bounceInLeft, .5);
		}

		&.active-slide-right {
			.iterateDelay(5, bounceInRight, .5);
		}

	}
	
}