/*

~chrisnicholls.co.nz

*/

/*
	Global Styles
*/

*, *:after, *:before {
	.box-sizing(border-box);
}

body {

	margin:0;
	overflow-x:none;
}



/*  
	Useful Modules
*/

.arrow {

	position:relative;

	width:90px;
	height:90px;
	margin-top:-45px;
	margin-left:-45px;

	background:rgba(255,255,255,0.5);
	border:2px rgba(255,255,255,1) solid;	
	display:block;
	.border-radius(45px);	
	cursor:pointer;

	.transition(all .3s ease);

	&:hover {

		.transform(scale(1.2));

	}

	&:active {

		.transform(scale(0.9));

	}

	

	&:after {
		position:absolute;
		left:50%;
		top:50%;
		width:70%;
		height:70%;
		display:block;
		margin-top:-45%;
		margin-left:-35%;
		text-align:center;
		vertical-align:middle;
		color:#fff;
		content:'';
	}

	&.left:after {
		font-size:5em;

		content:'<';
	}

	&.right:after {
		content:'TST';
	}

}


.plaque {
	position:relative;
	top:0px;
	left:50%;
	max-width:730px;
	min-width:320px;
	width:90%;
	height:100%;

	min-height:80px;

	padding:15px 44px;

	color:#f7f1f1;		
	z-index:10;	
	text-align:center;
	.text-shadow(0px -1px 0px #000);			
	background: url('../img/box-mid.png') repeat-y;
	font-family: @primary-font;	
	display:block;
	.transition(all .3s);
	.transform(translateX(-50%));

	cursor:pointer;

	.title {
		font-family:@primary-font;
		line-height:1.25em;
	}

	p {
		padding:25px 10px;
		padding-bottom:0%;
		font-family: @secondary-font;
		.opacity(0.95);
	}

	&:after, &:before {	
		
		position:absolute;
		width:100%;
		height:36px;
		left:0px;		
		display:block;
		content:'';
		.transition(none);
	}

	&:before {
		top:-35px;
		background: url('../img/box-top.png') no-repeat;
	}

	&:after {
		bottom:-35px;
		background: url('../img/box-bottom.png') no-repeat;
		z-index:-1;
	}

}

.character {
	position:relative;
	display:block;

	&.cow {

		width:600px;
		height:400px;
		top:50%;
		margin-top:-200px;
		left:50%;
		margin-left:-300px;
		background-size:100% 100%;
	}
	&.chicken {
		width:150px;
		height:180px;
		margin-top:-90px;
		margin-left:-75px;
		background-size:100% 100%;
	}
}

.animated-title {

	
	position:relative;
	font-family:@primary-font;
	font-size:2em;
	display:block;
	padding:20px;
	text-align:center;
	
	min-width:1000px;

	left:50%;
	.transform(translateX(-50%));
	.transition(all .3s);

	div.title {
		width:200px;
		height:265px;
		background-size:100% 100%;
		margin:0 auto;
		display:inline-block;	
	}	

	div.flag {

		position:inherit;		
		margin-top:45px;

		width:300px;
		height:180px;
	
		background-size:100% 100%;
		background-position:center center;
		display:inline-block;		
		
		.cssPerformance();

		.text-group {

			position:absolute;
			top:66%;
			right:14%;
			.size(100%, 20px);
			text-align:right;
			color: #56392F;
			z-index:30;
			font-family:'Otari';	
			font-weight:bold;	
			font-size:0.75em;

			.transition(none) !important;
			.opacity(0.95);
			.transform-origin(50% 50%);
			text-rendering: optimizeLegibility;

		}


		&.flag-left {

			.animation(float 4s forwards infinite);
			background-position:right center;

			.text-group {
				.transform(rotateZ(-2deg) );
			}

			

		}

		&.flag-right {
		
			.transform(rotateZ(180deg));
			.animation(float 4s reverse infinite);	
			background-position:right center;

			.text-group {
				.transform(rotateZ(182deg) );
				text-align:left;
			}
			
		}
	}


}



/* 
	Custom Styles
*/


body {
	background: #90a73e;
}

div.sticky-wrapper {
	position:absolute;
	top:0px;
	left:0px;
	z-index:200;
}

.header-wrapper { 

	.size(100%, 55px); 
	display:block;
	background:#000;
	position:absolute;
	top:0px;
	left:0px;
	z-index:400;
	background: #2b160e url('../img/light.png') 50% 0 no-repeat;
	border-bottom:#555 solid 1px;

	.box-shadow(0px 3px 20px rgba(0,0,0,.25));

	&.stuck {
		position:fixed !important;
		.animation(slideDown 0.5s ease 1);
	}

	&:before, &:after {
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		display:block;
		content:'';
	}

	&:before {
		background: url('../img/twirl.png') repeat-x; 
		z-index:200;
	}

	&:after {		
		background: url('../img/texture.png') repeat; 
		.opacity(50);
		z-index:200;
	}

	#header {

		display:block;
		width:100%;
		height:100%;
		max-width:1400px;
		margin: 0 auto;

		min-width:400px;

		#nav, #social {

			display:inline-block;
			position:relative;
			
			z-index:900;

			a {
				display:inline-block;
				padding:20px 15px;
				height:100%;		

				font-family:@primary-font;		
				color:#e7a827;
				text-decoration:none;
				font-style:none;

				cursor:pointer !important;

				.transition(all .3s);

				.text-shadow( 0px 0px 2px rgba(0,0,0,1) );

				&:hover, &:active {	
					color: lighten(#e7a827, 30%);
					.transform(translateY(1px));
				}
			}			 
		}

		#nav {
			min-width:250px;
			margin-right:2%;
			text-align:left;	
			float:left;	
		
			a {
				&:first-child {
					
				}
			}
		}

		#social {
			min-width:200px;
			float:right;
			text-align:right;

			a {
				&:last-child {
					padding-right:15px;
				}
			}
		}
	}



}

@page-width:960px;
@gutter: 1%;

article.main-wrapper {

	position:relative;	
	top:0px;

	width:100%;
	height:100%;

	display:block;
	z-index:100;
	padding:0;
	margin:0;

	padding-bottom:300px;
	overflow-x:hidden;

	section {

		position:relative;
		left:0px;
		width:100%;
		height:100%;
		min-height:600px;
		min-width:320px;
		margin:0;
		padding:0;
		display:block;

		h2 {

			line-height: 1.18em;
			font-size: 2em;
			color:rgb(34,34,34);
			.text-shadow( 0px 1px 0px #fff );
		}

		.container {
			position:absolute; 
			top:50%;
			left:50%;
			.transform(translateX(-50%) translateY(-50%));
	
			min-height:600px;
			max-height:1000px;

			/* Debug */
			/*			
			div {
				background:rgba(0,0,0,.3);
			}*/
		}

		&.tweets {

			background: #b8ccc8 url('../img/birds.png');
			z-index:201;
			height:100%;

		}

		&.banner {	

			height:600px;
			background-position:center center;
			background-repeat:repeat-x;
			background-color:#c5dfdc;
			z-index:200;

			.arrow {
				z-index:201;
			}

			.arrow.left {
				position:absolute;
				top:50%;
				left:15%;
			}

			.arrow.right {
				position:absolute;
				top:50%;
				right:15%;
			}

			.welcome {
				text-align:center;
				width:85%;
				margin:0 auto;
			}
		}

		&.hill {
			top:-300px;
			height:600px;
			background-position:center center;
			background-repeat:repeat-x;
			background-color:#c5dfdc;
			z-index:199;

		}

		&.about {
			top:-300px;
			height:800px;
			background:#90a73e;
			z-index:201;
			overflow:visible;

			.cow {
				margin-top:-80px;
				margin-left:-450px;
			}

			.chicken {
				margin-left:50px;
			}
	
		}

		&.play {

			background:#90a73e;
			height:600px;
			
		}


	}



}


.footer-wrapper {
	position:relative;
	top:0px;
	display:block;
	.size(100%, 55px); 
	float:left;
	z-index:300;
	background: #2b160e url('../img/light.png') 50% bottom no-repeat;
	border-top:#333 solid 2px;

	&:after {
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		display:block;
		content:'';
	}	

	&:after {		
		background: url('../img/texture.png') repeat; 
		.opacity(50);
		z-index:200;
	}



}


