/*

~chrisnicholls.co.nz

*/

/*
	Global Styles
*/

*, *:after, *:before {
	.box-sizing(border-box);
}

body {

	margin:0;
}

/*  
	Useful Modules
*/

.arrow {

	position:relative;

	width:90px;
	height:90px;
	margin-top:-45px;
	margin-left:-45px;

	background:rgba(255,255,255,0.5);
	border:2px rgba(255,255,255,1) solid;	
	display:block;
	.border-radius(45px);	
	cursor:pointer;

	.transition(all .3s ease);

	&:hover {

		.transform(scale(1.2));

	}

	&:active {

		.transform(scale(0.9));

	}

	

	&:after {
		position:absolute;
		left:50%;
		top:50%;
		width:70%;
		height:70%;
		display:block;
		margin-top:-45%;
		margin-left:-35%;
		text-align:center;
		vertical-align:middle;
		color:#fff;
		content:'';
	}

	&.left:after {
		font-size:5em;

		content:'<';
	}

	&.right:after {
		content:'TST';
	}

}


.plaque {
	position:relative;
	max-width:750px;
	min-width:400px;
	min-height:80px;
	width:100%;
	padding:20px;
	color:#f7f1f1;		
	z-index:10;	
	text-align:center;
	text-shadow: 0px -1px 1px #000;				
	background: url('../img/box-mid.png') repeat-y;
	font-family: @primary-font;	
	display:block;
	.transition(all .3s);

	cursor:pointer;

	.title {
		font-family:@primary-font;
	}

	p {
		padding:15px 10px;
		padding-bottom:0%;
		font-family: @secondary-font;
	}

	&:after, &:before {	
		
		position:absolute;
		width:100%;
		height:36px;
		left:0px;		
		display:block;
		content:'';
		.transition(none);
	}

	&:before {
		top:-35px;
		background: url('../img/box-top.png') no-repeat;
	}

	&:after {
		bottom:-35px;
		background: url('../img/box-bottom.png') no-repeat;
		z-index:-1;
	}

}

.character {
	position:relative;
	display:block;


	&.cow {
		width:800px;
		height:400px;
		margin-top:-200px;
		margin-left:-400px;
		background-size:100% 100%;
	}
	&.chicken {
		width:150px;
		height:180px;
		margin-top:-90px;
		margin-left:-75px;
		background-size:100% 100%;
	}
}

.animated-title {

	position:relative;
	left:50%;
	float:left;
	font-family:@primary-font;
	font-size:2em;
	display:block;
	padding:20px;
	text-align:center;
	
	min-width:1000px;
	margin-left:-500px;

	div.title {
		margin:0 auto;
		display:inline-block;

		img {
			position:relative;	
			padding:0;	
			margin:0;
		}
	}	

	div.flag {

		position:inherit;		
		margin-top:45px;

		width:300px;
		height:180px;
	
		background-size:100% 100%;
		background-position:center center;
		display:inline-block;		


		&.flag-left {

			.animation(float 4s infinite);
			background-position:right center;
		}

		&.flag-right {
	
			.transform(rotateZ(180deg));
			.animation(float 4.3s infinite);	
			background-position:right center;
			
		}
	}


}



/* 
	Custom Styles
*/


body {
	background: #90a73e;
}

.header-wrapper { 

	.size(100%, 55px); 
	display:block;
	background:#000;
	position:absolute;
	top:0px;
	left:0px;
	z-index:400;
	background: #2b160e url('../img/light.png') 50% 0 no-repeat;
	border-bottom:#555 solid 2px;

	&.stuck {
		position:fixed !important;


		.animation(slideDown 0.5s ease 1);

	}

	&:before, &:after {
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		display:block;
		content:'';
	}

	&:before {
		background: url('../img/twirl.png') repeat-x; 
		z-index:200;
	}

	&:after {		
		background: url('../img/texture.png') repeat; 
		.opacity(50);
		z-index:200;
	}

	#header {

		position:absolute;
		left:50%;
		top:0px;		
		.size(100%, 100%);
		max-width:1600px;
		.transform(translateX(-50%));
		min-width:480px;
		z-index:401;

		#nav, #social {

			display:inline-block;

			a {
				display:inline-block;
				padding:20px 15px;
				height:100%;		

				font-family:@primary-font;		
				color:#e7a827;
				text-decoration:none;
				font-style:none;

				cursor:pointer;

				.transition(all .3s);

				text-shadow: 0px 0px 2px rgba(0,0,0,1);

				&:hover, &:active {	
					color: lighten(#e7a827, 30%);
					.transform(translateY(1px));
				}
			}			 
		}

		#nav {
			.size(65.5%, 100%);
			text-align:left;			
			margin-right:1%;
		
			a {
				&:first-child {
					padding-left:15px;
				}
			}
		}

		#social {
			.size(32.5%, 100%);
			float:right;
			text-align:right;

			a {
				&:last-child {
					padding-right:15px;
				}
			}
		}



	}
}

@page-width:960px;
@gutter: 1%;

article.main-wrapper {

	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:0px;

	display:block;
	z-index:100;
	margin:0;

	section {

		position:relative;
		left:0px;
		width:100%;
		height:100%;
		min-height:600px;
		min-width:320px;
		margin:0;
		display:block;

		.container {
			position:absolute; 
			top:50%;
			left:50%;
			.transform(translateX(-50%) translateY(-50%));

			div.clear {
				display:block;
				height:1px;
				clear:both;
				width:100%;
				float:left;
			}

			div.content {
					
				margin:0px auto;
				display:block;
				position:relative;

				&:first-child {
					margin-left:0 !important;
				}

				&:last-child {
					margin-right:0 !important;
				}

				/* Sizes */

				&.half {

					width:50%;
				}

				&.third {

					width:33%;
				}

				&.full {

					width:100%;
				}

				/* Positioning */

				&.center {


				}

			}

			div.content-title {
				float:left;
				width:100%;

				&.push-right {

					float:right;
					text-align:right;

					width:50%;
				
				}

				&.push-left {

					float:left;
					text-align:left;
					width:50%;
					
				}
			}

			.content {


			}
		}

		&.tweets {
			background: #b8ccc8 url('../img/birds.png');
		}

		&.banner {
	
			background-position:center center;
			background-repeat:repeat-x;
			background-color:#c5dfdc;
			z-index:200;

			.arrow {
				z-index:201;
			}

			.arrow.left {
				position:absolute;
				top:50%;
				left:15%;
			}

			.arrow.right {
				position:absolute;
				top:50%;
				right:15%;
			}
		}

		&.about {

	
			background:#90a73e;
			z-index:201;
			overflow:visible;

			.cow {
				margin-left:-200px;
			}
		}

		&.play {

			background:#90a73e;
			
		}


	}



}


.footer-wrapper {

	position:relative;
	top:0px;
	left:0px;
	display:none;
	.size(100%, 55px); 
	float:left;
	z-index:300;
	background: #2b160e url('../img/light.png') 50% bottom no-repeat;
	border-top:#333 solid 2px;

	&:after {
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		display:block;
		content:'';
	}	

	&:after {		
		background: url('../img/texture.png') repeat; 
		.opacity(50);
		z-index:200;
	}



}


