/*

  ~ chrisnicholls.co.nz

*/

@import 'mixins.less';

.animated-title {

	.transform(translateX(-50%) scale(0.8)) !important;

}

.plaque-wrapper {

	.content {

		padding:20px 30px;
	}
}

.static {

	&.image-sheep_fence {
		margin-left:-380px;
	}

	&.image-signpost {
		display:none;
	}

}