/*

  ~ chrisnicholls.co.nz

*/

@import 'mixins.less';

.animated-title {
	
	.transform(translateX(-50%) scale(0.75)) !important;

}

.header-wrapper {

	min-width:320px;

	#nav {
		min-width:100px;
		width:100px;

		.toggle {
			display:block !important;
			.opacity(1);					
		}

		.menu {
			display:none;
			.opacity(0);
		}

		a {
			display:none !important;
			.opacity(0);
			.transition(opacity .4s);

			
		}
	}
}


article.main-wrapper {

	section {

		&.banner {

			.welcome {

				width:300px;

			}

			.arrow.left, .arrow.right {				
				top:50%;
			}

			.arrow.left {
				left:25px;
			}

			.arrow.right {
				right:25px;
			}
		}

		&.hill {
			.image-sheep_fence {
				margin-left:-360px;
			}
		}
	}
}


.footer-wrapper {

	.container {

		.row {

			a {
				text-align:center;
		
			}
		}
	}
}

.plaque-wrapper {

	width:98%;

	.content {
		

		padding:5px 15px;
		padding-top:20px;

		.image-decoration, .image-shell {
			display:none;
		}

	}
}

.static {


	&.image-signpost {
		display:none;
	}

}