/*

  ~ chrisnicholls.co.nz

*/

@import 'mixins.less';

.animated-title {
	
	.transform(translateX(-50%) scale(0.75)) !important;

}

article.main-wrapper {

	section {

		&.banner {

			.welcome {

				width:300px;

			}
		}
	}
}

.footer-wrapper {

	.container {

		.row {

			a {
				text-align:center;
		
			}
		}
	}
}

.plaque-wrapper {

	.content {

		.image-decoration, .image-shell {
			display:none;
		}

	}
}

.static {

	&.image-sheep_fence {
		margin-left:-360px;
	}

	&.image-signpost {
		display:none;
	}

}