/*

  ~ chrisnicholls.co.nz

*/

@import 'mixins.less';

.animated-title {

	.transform(translateX(-50%) scale(0.85)) !important;

}

.plaque-wrapper {

	.content {

		padding:20px 30px;
	}
}
.static {

	&.image-sheep_fence {
		margin-left:-200px;
	}

	&.image-signpost {
		margin-left:-400px;
	}

}