 
.image-hills {
	background-image: url('hills.png');
	background-repeat: no-repeat;
}

 
.image-sheep {
	background-image: url('sheep.png');
	background-repeat: no-repeat;
}

 
.image-birds_sun_post {
	background-image: url('birds_sun_post.png');
	background-repeat: no-repeat;
}

 
 
.image-chicken {
	background-image: url('png/chicken.png');
	background-repeat: no-repeat;
}


 
.image-cow {
	background-image: url('png/cow.png');
	background-repeat: no-repeat;
}

 
.image-fence {
	background-image: url('fence.png');
	background-repeat: no-repeat;
}

 
.image-highlight {
	background-image: url('highlight.png');
	background-repeat: no-repeat;
}
 
.image-flag {
	background-image: url('flag.png');
	background-repeat: no-repeat;
}

