.image-about_title.min { background-image: url('png/about_title.min.png'); background-repeat: no-repeat; }

.image-about_title { background-image: url('png/about_title.png'); background-repeat: no-repeat; }

.image-birds_sun_post.min { background-image: url('png/birds_sun_post.min.png'); background-repeat: no-repeat; }

.image-birds_sun_post { background-image: url('png/birds_sun_post.png'); background-repeat: no-repeat; }

.image-chicken.min { background-image: url('png/chicken.min.png'); background-repeat: no-repeat; }

.image-chicken { background-image: url('png/chicken.png'); background-repeat: no-repeat; }

.image-cow.min { background-image: url('png/cow.min.png'); background-repeat: no-repeat; }

.image-cow { background-image: url('png/cow.png'); background-repeat: no-repeat; }

.image-fence.min { background-image: url('png/fence.min.png'); background-repeat: no-repeat; }

.image-fence { background-image: url('png/fence.png'); background-repeat: no-repeat; }

.image-flag.min { background-image: url('png/flag.min.png'); background-repeat: no-repeat; }

.image-flag { background-image: url('png/flag.png'); background-repeat: no-repeat; }

.image-highlight.min { background-image: url('png/highlight.min.png'); background-repeat: no-repeat; }

.image-highlight { background-image: url('png/highlight.png'); background-repeat: no-repeat; }

.image-hills.min { background-image: url('png/hills.min.png'); background-repeat: no-repeat; }

.image-hills { background-image: url('png/hills.png'); background-repeat: no-repeat; }

.image-hill_center { background-image: url('png/hill_center.png'); background-repeat: no-repeat; }

.image-hi_title.min { background-image: url('png/hi_title.min.png'); background-repeat: no-repeat; }

.image-hi_title { background-image: url('png/hi_title.png'); background-repeat: no-repeat; }

.image-onthefence_title.min { background-image: url('png/onthefence_title.min.png'); background-repeat: no-repeat; }

.image-onthefence_title { background-image: url('png/onthefence_title.png'); background-repeat: no-repeat; }

.image-plaque.min { background-image: url('png/plaque.min.png'); background-repeat: no-repeat; }

.image-plaque { background-image: url('png/plaque.png'); background-repeat: no-repeat; }

.image-sheep.min { background-image: url('png/sheep.min.png'); background-repeat: no-repeat; }

.image-sheep { background-image: url('png/sheep.png'); background-repeat: no-repeat; }

