.image-about_title { background-image: url('png/about_title.png'); background-repeat: no-repeat; }

.image-arrow { background-image: url('png/arrow.png'); background-repeat: no-repeat; }

.image-birds_sun_post { background-image: url('png/birds_sun_post.png'); background-repeat: no-repeat; }

.image-bluebird { background-image: url('png/bluebird.png'); background-repeat: no-repeat; }

.image-brownbird { background-image: url('png/brownbird.png'); background-repeat: no-repeat; }

.image-chicken { background-image: url('png/chicken.png'); background-repeat: no-repeat; }

.image-clouds { background-image: url('png/clouds.png'); background-repeat: no-repeat; }

.image-corner { background-image: url('png/corner.png'); background-repeat: no-repeat; }

.image-cow { background-image: url('png/cow.png'); background-repeat: no-repeat; }

.image-decoration { background-image: url('png/decoration.png'); background-repeat: no-repeat; }

.image-enrol_sign { background-image: url('png/enrol_sign.png'); background-repeat: no-repeat; }

.image-facebook_button { background-image: url('png/facebook_button.png'); background-repeat: no-repeat; }

.image-fence { background-image: url('png/fence.png'); background-repeat: no-repeat; }

.image-flag { background-image: url('png/flag.png'); background-repeat: no-repeat; }

.image-highlight { background-image: url('png/highlight.png'); background-repeat: no-repeat; }

.image-hills { background-image: url('png/hills.png'); background-repeat: no-repeat; }

.image-hill_center { background-image: url('png/hill_center.png'); background-repeat: no-repeat; }

.image-hi_title { background-image: url('png/hi_title.png'); background-repeat: no-repeat; }

.image-onthefence_title { background-image: url('png/onthefence_title.png'); background-repeat: no-repeat; }

.image-plaque { background-image: url('png/plaque.png'); background-repeat: no-repeat; }

.image-sheep { background-image: url('png/sheep.png'); background-repeat: no-repeat; }

.image-sheep_fence { background-image: url('png/sheep_fence.png'); background-repeat: no-repeat; }

.image-signpost { background-image: url('png/signpost.png'); background-repeat: no-repeat; }

.image-twirl { background-image: url('png/twirl.png'); background-repeat: no-repeat; }

.image-twitter_button { background-image: url('png/twitter_button.png'); background-repeat: no-repeat; }

