/*

  ~ chrisnicholls.co.nz

*/
/*

  Less Mixin Library  
  Lesshat plus extras

  ~ chrisnicholls.co.nz

*/
/* Custom mixin for delayed animation stacks */
.animated-title {
  -webkit-transform: translateX(-50%) scale(0.75) !important;
  -moz-transform: translateX(-50%) scale(0.75) !important;
  -ms-transform: translateX(-50%) scale(0.75) !important;
  -o-transform: translateX(-50%) scale(0.75) !important;
  transform: translateX(-50%) scale(0.75) !important;
}
article.main-wrapper section.banner .welcome {
  width: 300px;
}
.footer-wrapper .container .row a {
  text-align: center;
}
.plaque-wrapper .content .image-decoration,
.plaque-wrapper .content .image-shell {
  display: none;
}
.static.image-sheep_fence {
  margin-left: -360px;
}
.static.image-signpost {
  display: none;
}
