@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
/*

	~chrisnicholls.co.nz

*/
@charset 'UTF-8';
/*

	Typography 

	~	chrisnicholls.co.nz

*/
@font-face {
  font-family: 'Otari';
  src: url('../css/fonts/otari-bold-limited-webfont.eot');
  src: url('../css/fonts/otari-bold-limited-webfont.eot?#iefix') format('embedded-opentype'), url('../css/fonts/otari-bold-limited-webfont.woff') format('woff'), url('../css/fonts/otari-bold-limited-webfont.ttf') format('truetype'), url('../css/fonts/otari-bold-limited-webfont.svg#otari-bold-limitedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 100%;
  font-family: 'Droid Serif', serif;
  font-weight: 300;
}
h1 {
  font-size: 2.5em;
  font-family: 'Otari', sans-serif;
  font-weight: 600;
}
h2 {
  font-size: 2em;
  font-family: 'Otari', sans-serif;
  font-weight: 600;
}
h3 {
  font-size: 1.52em;
  font-family: 'Otari', sans-serif;
  font-weight: 600;
}
h4 {
  font-size: 1.2em;
  font-family: 'Otari', sans-serif;
  font-weight: 600;
}
h5 {
  font-size: 1.1em;
  font-family: 'Otari', sans-serif;
  font-weight: 600;
}
h6 {
  font-size: 1em;
  font-family: 'Otari', sans-serif;
  font-weight: 600;
}
p {
  font-size: 0.82em;
  font-family: 'Droid Serif', serif;
  font-weight: 300;
  line-height: 1.74em;
}
a,
a:hover,
a:active,
a:visited {
  color: #777;
  text-decoration: none;
  font-style: none;
}
/*

  Less Mixin Library  
  Lesshat plus extras

  ~ chrisnicholls.co.nz

*/
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes float{ 0%, 20%, 50%, 80%, 100% { top:0px; }	40% { top:-30px;}	60% { top:-15px;} }}
@-moz-keyframes float{ 0%, 20%, 50%, 80%, 100% { top:0px; }	40% { top:-30px;}	60% { top:-15px;} }}
@-o-keyframes float{ 0%, 20%, 50%, 80%, 100% { top:0px; }	40% { top:-30px;}	60% { top:-15px;} }}
@keyframes float{ 0%, 20%, 50%, 80%, 100% { top:0px; }	40% { top:-30px;}	60% { top:-15px;} };
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes slideDown{ 0% { top:-55px;}	100% { top:0px;} }}
@-moz-keyframes slideDown{ 0% { top:-55px;}	100% { top:0px;} }}
@-o-keyframes slideDown{ 0% { top:-55px;}	100% { top:0px;} }}
@keyframes slideDown{ 0% { top:-55px;}	100% { top:0px;} };
}
/*

~chrisnicholls.co.nz

*/
/*
	Global Styles
*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: none;
}
/*  
	Useful Modules
*/
.arrow {
  position: relative;
  width: 90px;
  height: 90px;
  margin-top: -45px;
  margin-left: -45px;
  background: rgba(255, 255, 255, 0.5);
  border: 2px #ffffff solid;
  display: block;
  -webkit-border-radius: 45px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 45px;
  -moz-background-clip: padding;
  border-radius: 45px;
  background-clip: padding-box;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.arrow:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.arrow:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.arrow:after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 70%;
  display: block;
  margin-top: -45%;
  margin-left: -35%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  content: '';
}
.arrow.left:after {
  font-size: 5em;
  content: '<';
}
.arrow.right:after {
  content: 'TST';
}
.plaque {
  position: relative;
  top: 0px;
  left: 50%;
  max-width: 730px;
  min-width: 320px;
  width: 90%;
  height: 100%;
  min-height: 80px;
  padding: 15px 44px;
  color: #f7f1f1;
  z-index: 10;
  text-align: center;
  -webkit-text-shadow: 0px -1px 1px #000000;
  -moz-text-shadow: 0px -1px 1px #000000;
  text-shadow: 0px -1px 1px #000000;
  background: url('../img/box-mid.png') repeat-y;
  font-family: 'Otari', sans-serif;
  display: block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
}
.plaque .title {
  font-family: 'Otari', sans-serif;
  line-height: 1.25em;
}
.plaque p {
  padding: 25px 10px;
  padding-bottom: 0%;
  font-family: 'Droid Serif', serif;
  zoom: 1;
  filter: alpha(opacity=95);
  -webkit-opacity: 0.95;
  -moz-opacity: 0.95;
  opacity: 0.95;
}
.plaque:after,
.plaque:before {
  position: absolute;
  width: 100%;
  height: 36px;
  left: 0px;
  display: block;
  content: '';
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.plaque:before {
  top: -35px;
  background: url('../img/box-top.png') no-repeat;
}
.plaque:after {
  bottom: -35px;
  background: url('../img/box-bottom.png') no-repeat;
  z-index: -1;
}
.character {
  position: relative;
  display: block;
}
.character.cow {
  width: 600px;
  height: 400px;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -300px;
  background-size: 100% 100%;
}
.character.chicken {
  width: 150px;
  height: 180px;
  margin-top: -90px;
  margin-left: -75px;
  background-size: 100% 100%;
}
.animated-title {
  position: relative;
  font-family: 'Otari', sans-serif;
  font-size: 2em;
  display: block;
  padding: 20px;
  text-align: center;
  min-width: 1000px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.animated-title div.title {
  width: 200px;
  height: 265px;
  background-size: 100% 100%;
  margin: 0 auto;
  display: inline-block;
}
.animated-title div.flag {
  position: inherit;
  margin-top: 45px;
  width: 300px;
  height: 180px;
  background-size: 100% 100%;
  background-position: center center;
  display: inline-block;
}
.animated-title div.flag .text-group {
  position: absolute;
  top: 66%;
  right: 14%;
  width: 100%;
  height: 20px;
  text-align: right;
  color: #56392F;
  z-index: 30;
  font-family: 'Otari';
  font-weight: bold;
  font-size: 0.85em;
  -webkit-text-shadow: 1px 0px 0px #333333;
  -moz-text-shadow: 1px 0px 0px #333333;
  text-shadow: 1px 0px 0px #333333;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  zoom: 1;
  filter: alpha(opacity=95);
  -webkit-opacity: 0.95;
  -moz-opacity: 0.95;
  opacity: 0.95;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  text-rendering: optimizeLegibility;
}
.animated-title div.flag.flag-left {
  -webkit-animation: float 4s forwards infinite;
  -moz-animation: float 4s forwards infinite;
  -o-animation: float 4s forwards infinite;
  animation: float 4s forwards infinite;
  background-position: right center;
}
.animated-title div.flag.flag-left .text-group {
  -webkit-transform: rotateZ(-2deg);
  -moz-transform: rotateZ(-2deg);
  -ms-transform: rotateZ(-2deg);
  -o-transform: rotateZ(-2deg);
  transform: rotateZ(-2deg);
}
.animated-title div.flag.flag-right {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  -webkit-animation: float 4s reverse infinite;
  -moz-animation: float 4s reverse infinite;
  -o-animation: float 4s reverse infinite;
  animation: float 4s reverse infinite;
  background-position: right center;
}
.animated-title div.flag.flag-right .text-group {
  -webkit-transform: rotateZ(182deg);
  -moz-transform: rotateZ(182deg);
  -ms-transform: rotateZ(182deg);
  -o-transform: rotateZ(182deg);
  transform: rotateZ(182deg);
  text-align: left;
}
/* 
	Custom Styles
*/
body {
  background: #90a73e;
}
div.sticky-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 200;
}
.header-wrapper {
  width: 100%;
  height: 55px;
  display: block;
  background: #000;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 400;
  background: #2b160e url('../img/light.png') 50% 0 no-repeat;
  border-bottom: #555 solid 1px;
  -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
}
.header-wrapper.stuck {
  position: fixed !important;
  -webkit-animation: slideDown 0.5s ease 1;
  -moz-animation: slideDown 0.5s ease 1;
  -o-animation: slideDown 0.5s ease 1;
  animation: slideDown 0.5s ease 1;
}
.header-wrapper:before,
.header-wrapper:after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
}
.header-wrapper:before {
  background: url('../img/twirl.png') repeat-x;
  z-index: 200;
}
.header-wrapper:after {
  background: url('../img/texture.png') repeat;
  zoom: 1;
  filter: alpha(opacity=5000);
  -webkit-opacity: 50;
  -moz-opacity: 50;
  opacity: 50;
  z-index: 200;
}
.header-wrapper #nav,
.header-wrapper #social {
  display: inline-block;
  position: relative;
  width: 100%;
  min-width: 320px;
  z-index: 900;
}
.header-wrapper #nav a,
.header-wrapper #social a {
  display: inline-block;
  padding: 20px 15px;
  height: 100%;
  font-family: 'Otari', sans-serif;
  color: #e7a827;
  text-decoration: none;
  font-style: none;
  cursor: pointer !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-text-shadow: 0px 0px 2px #000000;
  -moz-text-shadow: 0px 0px 2px #000000;
  text-shadow: 0px 0px 2px #000000;
}
.header-wrapper #nav a:hover,
.header-wrapper #social a:hover,
.header-wrapper #nav a:active,
.header-wrapper #social a:active {
  color: #f6dfb1;
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  transform: translateY(1px);
}
.header-wrapper #nav {
  width: 100%;
  height: 100%;
  text-align: left;
  float: left;
  margin-right: 1%;
}
.header-wrapper #social {
  width: 100%;
  height: 100%;
  float: right;
  text-align: right;
}
.header-wrapper #social a:last-child {
  padding-right: 15px;
}
article.main-wrapper {
  position: relative;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 100;
  padding: 0;
  margin: 0;
  padding-bottom: 300px;
  overflow-x: hidden;
}
article.main-wrapper section {
  position: relative;
  left: 0px;
  width: 100%;
  height: 100%;
  min-height: 600px;
  min-width: 320px;
  margin: 0;
  padding: 0;
  display: block;
}
article.main-wrapper section h2 {
  line-height: 1.18em;
  font-size: 2em;
  color: #222222;
  -webkit-text-shadow: 0px 1px 0px #ffffff;
  -moz-text-shadow: 0px 1px 0px #ffffff;
  text-shadow: 0px 1px 0px #ffffff;
}
article.main-wrapper section .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-height: 600px;
  max-height: 1000px;
  /* Debug */
  /*			
			div {
				background:rgba(0,0,0,.3);
			}*/
}
article.main-wrapper section.tweets {
  background: #b8ccc8 url('../img/birds.png');
  z-index: 201;
  height: 100%;
}
article.main-wrapper section.banner {
  height: 600px;
  background-position: center center;
  background-repeat: repeat-x;
  background-color: #c5dfdc;
  z-index: 200;
}
article.main-wrapper section.banner .arrow {
  z-index: 201;
}
article.main-wrapper section.banner .arrow.left {
  position: absolute;
  top: 50%;
  left: 15%;
}
article.main-wrapper section.banner .arrow.right {
  position: absolute;
  top: 50%;
  right: 15%;
}
article.main-wrapper section.banner .welcome {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}
article.main-wrapper section.hill {
  top: -300px;
  height: 600px;
  background-position: center center;
  background-repeat: repeat-x;
  background-color: #c5dfdc;
  z-index: 199;
}
article.main-wrapper section.about {
  top: -300px;
  height: 800px;
  background: #90a73e;
  z-index: 201;
  overflow: visible;
}
article.main-wrapper section.about .cow {
  margin-top: -300px;
  margin-left: -420px;
}
article.main-wrapper section.play {
  background: #90a73e;
  height: 600px;
}
.footer-wrapper {
  position: relative;
  top: 0px;
  display: block;
  width: 100%;
  height: 55px;
  float: left;
  z-index: 300;
  background: #2b160e url('../img/light.png') 50% bottom no-repeat;
  border-top: #333 solid 2px;
}
.footer-wrapper:after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
}
.footer-wrapper:after {
  background: url('../img/texture.png') repeat;
  zoom: 1;
  filter: alpha(opacity=5000);
  -webkit-opacity: 50;
  -moz-opacity: 50;
  opacity: 50;
  z-index: 200;
}
