/*

  Less Mixin Library  
  Lesshat plus extras

  ~ chrisnicholls.co.nz

*/
/* Custom mixin for delayed animation stacks */
.animated-title {
  -webkit-transform: translateX(-50%) scale(0.8) !important;
  -moz-transform: translateX(-50%) scale(0.8) !important;
  -ms-transform: translateX(-50%) scale(0.8) !important;
  -o-transform: translateX(-50%) scale(0.8) !important;
  transform: translateX(-50%) scale(0.8) !important;
}
.plaque-wrapper .content {
  padding: 20px 30px;
}
article.main-wrapper section.banner .arrow.left,
article.main-wrapper section.banner .arrow.right {
  top: 50%;
}
article.main-wrapper section.banner .arrow.left {
  left: 25px;
}
article.main-wrapper section.banner .arrow.right {
  right: 25px;
}
article.main-wrapper section.hill .image-sheep_fence {
  margin-left: -360px;
}
.static.image-signpost {
  display: none;
}
