/*

	~chrisnicholls.co.nz

*/
@charset 'UTF-8';
/* V2 */
/*

	Typography 

	~	chrisnicholls.co.nz

*/
@font-face {
  font-family: 'Otari';
  src: url('../css/fonts/otari-bold-limited-webfont.eot');
  src: url('../css/fonts/otari-bold-limited-webfont.eot?#iefix') format('embedded-opentype'), url('../css/fonts/otari-bold-limited-webfont.woff') format('woff'), url('../css/fonts/otari-bold-limited-webfont.ttf') format('truetype'), url('../css/fonts/otari-bold-limited-webfont.svg#otari-bold-limitedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 100%;
  font-family: 'Droid Serif', Georgia, serif;
  font-weight: 300;
}
h1 {
  font-size: 2.5em;
  font-family: 'Otari', sans-serif;
  font-weight: 600;
}
h2 {
  font-size: 2em;
  font-family: 'Otari', sans-serif;
  font-weight: 600;
}
h3 {
  font-size: 1.52em;
  font-family: 'Otari', sans-serif;
  font-weight: 600;
}
h4 {
  font-size: 1.2em;
  font-family: 'Otari', sans-serif;
  font-weight: 600;
}
h5 {
  font-size: 1.1em;
  font-family: 'Otari', sans-serif;
  font-weight: 600;
}
h6 {
  font-size: 1em;
  font-family: 'Otari', sans-serif;
  font-weight: 600;
}
p {
  font-size: 0.82em;
  font-family: 'Droid Serif', Georgia, serif;
  font-weight: 300;
  line-height: 1.74em;
}
a,
a:hover,
a:active,
a:visited {
  color: #777;
  text-decoration: none;
  font-style: none;
}
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}
#cboxWrapper {
  max-width: none;
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.71) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.42)), color-stop(100%, rgba(0, 0, 0, 0.71)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.71) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.71) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.71) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.71) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b000000', endColorstr='#b5000000', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}
#cboxContent {
  position: relative;
  border: 3px #3e271b solid;
}
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#cboxTitle {
  margin: 0;
}
#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#colorbox {
  outline: 0;
  overflow: visible !important;
}
#cboxContent,
.cboxIframe {
  background: #90a73e;
  overflow: visible;
}
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}
#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494;
}
#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494;
}
/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
}
/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
  outline: 0;
}
#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef;
}
#cboxClose {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -25px;
  right: -25px;
  display: block;
  z-index: 9999;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#cboxClose:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
#cboxClose:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
div.image-close {
  width: 50px;
  height: 50px;
  display: block;
  z-index: 9999;
}
#cboxClose:hover {
  background-position: -25px -25px;
}
/*

  Less Mixin Library  
  Lesshat plus extras

  ~ chrisnicholls.co.nz

*/
/* Custom mixin for delayed animation stacks */
/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2013 Daniel Eden
*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes float{ 0%, 20%, 50%, 80%, 100% { top:0px; } 40% { top:-30px;}	60% { top:-15px;} }}
@-moz-keyframes float{ 0%, 20%, 50%, 80%, 100% { top:0px; } 40% { top:-30px;}	60% { top:-15px;} }}
@-o-keyframes float{ 0%, 20%, 50%, 80%, 100% { top:0px; } 40% { top:-30px;}	60% { top:-15px;} }}
@keyframes float{ 0%, 20%, 50%, 80%, 100% { top:0px; } 40% { top:-30px;}	60% { top:-15px;} };
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes cloudLoop{ 0% { background-position:0px top;}	100% { background-position:800px top; } }}
@-moz-keyframes cloudLoop{ 0% { background-position:0px top;}	100% { background-position:800px top; } }}
@-o-keyframes cloudLoop{ 0% { background-position:0px top;}	100% { background-position:800px top; } }}
@keyframes cloudLoop{ 0% { background-position:0px top;}	100% { background-position:800px top; } };
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes bounceInLeft{ 0% { -webkit-transform: translateX(-200%); } 60% { -webkit-transform: translateX(5%); } 80% { -webkit-transform: translateX(-2.5%); } 100% { -webkit-transform: translateX(0);} }}
@-moz-keyframes bounceInLeft{ 0% { -moz-transform: translateX(-200%); } 60% { -moz-transform: translateX(5%); } 80% { -moz-transform: translateX(-2.5%); } 100% { -moz-transform: translateX(0);} }}
@-o-keyframes bounceInLeft{ 0% { -o-transform: translateX(-200%); } 60% { -o-transform: translateX(5%); } 80% { -o-transform: translateX(-2.5%); } 100% { -o-transform: translateX(0);} }}
@keyframes bounceInLeft{ 0% {-webkit-transform: translateX(-200%);-moz-transform: translateX(-200%);-ms-transform: translateX(-200%);transform: translateX(-200%); } 60% {-webkit-transform: translateX(5%);-moz-transform: translateX(5%);-ms-transform: translateX(5%);transform: translateX(5%); } 80% {-webkit-transform: translateX(-2.5%);-moz-transform: translateX(-2.5%);-ms-transform: translateX(-2.5%);transform: translateX(-2.5%); } 100% {-webkit-transform: translateX(0);-moz-transform: translateX(0);-ms-transform: translateX(0);transform: translateX(0);} };
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes bounceInRight{ 0% { -webkit-transform: translateX(200%); } 60% { -webkit-transform: translateX(-5%); } 80% { -webkit-transform: translateX(2.5%); } 100% { -webkit-transform: translateX(0);} }}
@-moz-keyframes bounceInRight{ 0% { -moz-transform: translateX(200%); } 60% { -moz-transform: translateX(-5%); } 80% { -moz-transform: translateX(2.5%); } 100% { -moz-transform: translateX(0);} }}
@-o-keyframes bounceInRight{ 0% { -o-transform: translateX(200%); } 60% { -o-transform: translateX(-5%); } 80% { -o-transform: translateX(2.5%); } 100% { -o-transform: translateX(0);} }}
@keyframes bounceInRight{ 0% {-webkit-transform: translateX(200%);-moz-transform: translateX(200%);-ms-transform: translateX(200%);transform: translateX(200%); } 60% {-webkit-transform: translateX(-5%);-moz-transform: translateX(-5%);-ms-transform: translateX(-5%);transform: translateX(-5%); } 80% {-webkit-transform: translateX(2.5%);-moz-transform: translateX(2.5%);-ms-transform: translateX(2.5%);transform: translateX(2.5%); } 100% {-webkit-transform: translateX(0);-moz-transform: translateX(0);-ms-transform: translateX(0);transform: translateX(0);} };
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes bounceOutLeft{ 0% { -webkit-transform: translateX(0%); } 60% { -webkit-transform: translateX(-2.5%); } 80% { -webkit-transform: translateX(5%); } 100% { -webkit-transform: translateX(-200%);} }}
@-moz-keyframes bounceOutLeft{ 0% { -moz-transform: translateX(0%); } 60% { -moz-transform: translateX(-2.5%); } 80% { -moz-transform: translateX(5%); } 100% { -moz-transform: translateX(-200%);} }}
@-o-keyframes bounceOutLeft{ 0% { -o-transform: translateX(0%); } 60% { -o-transform: translateX(-2.5%); } 80% { -o-transform: translateX(5%); } 100% { -o-transform: translateX(-200%);} }}
@keyframes bounceOutLeft{ 0% {-webkit-transform: translateX(0%);-moz-transform: translateX(0%);-ms-transform: translateX(0%);transform: translateX(0%); } 60% {-webkit-transform: translateX(-2.5%);-moz-transform: translateX(-2.5%);-ms-transform: translateX(-2.5%);transform: translateX(-2.5%); } 80% {-webkit-transform: translateX(5%);-moz-transform: translateX(5%);-ms-transform: translateX(5%);transform: translateX(5%); } 100% {-webkit-transform: translateX(-200%);-moz-transform: translateX(-200%);-ms-transform: translateX(-200%);transform: translateX(-200%);} };
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes bounceOutRight{ 0% { -webkit-transform: translateX(0%); } 60% { -webkit-transform: translateX(2.5%); } 80% { -webkit-transform: translateX(5%); } 100% { -webkit-transform: translateX(200%);} }}
@-moz-keyframes bounceOutRight{ 0% { -moz-transform: translateX(0%); } 60% { -moz-transform: translateX(2.5%); } 80% { -moz-transform: translateX(5%); } 100% { -moz-transform: translateX(200%);} }}
@-o-keyframes bounceOutRight{ 0% { -o-transform: translateX(0%); } 60% { -o-transform: translateX(2.5%); } 80% { -o-transform: translateX(5%); } 100% { -o-transform: translateX(200%);} }}
@keyframes bounceOutRight{ 0% {-webkit-transform: translateX(0%);-moz-transform: translateX(0%);-ms-transform: translateX(0%);transform: translateX(0%); } 60% {-webkit-transform: translateX(2.5%);-moz-transform: translateX(2.5%);-ms-transform: translateX(2.5%);transform: translateX(2.5%); } 80% {-webkit-transform: translateX(5%);-moz-transform: translateX(5%);-ms-transform: translateX(5%);transform: translateX(5%); } 100% {-webkit-transform: translateX(200%);-moz-transform: translateX(200%);-ms-transform: translateX(200%);transform: translateX(200%);} };
}
/*

~chrisnicholls.co.nz

*/
/*
	Global Styles
*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:active,
*:hover {
  outline: 0;
}
body {
  margin: 0;
  overflow-x: hidden;
}
a,
a:active,
a:visited {
  color: #e7a827;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  outline: 0;
}
a:hover,
a:active:hover,
a:visited:hover {
  color: #f1cd83;
}
a.anchor,
a:active.anchor,
a:visited.anchor {
  display: none;
}
a .obfuscate,
a:active .obfuscate,
a:visited .obfuscate {
  display: none;
}
/*  
	Useful Modules
*/
div.button,
div.button a,
div.button a:before {
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
div.button {
  position: relative;
  margin: 0 auto;
  max-width: 400px;
  height: 65px;
  min-width: 200px;
  width: 100%;
  text-align: center;
  background: #371E12;
  padding: 4px;
  display: table;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
div.button:hover {
  padding: 2px;
}
div.button:active {
  padding: 3px;
}
div.button.green a {
  background: #99bc4c;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5YmM0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MWEzMzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #99bc4c 0%, #81a338 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #99bc4c), color-stop(100%, #81a338));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #99bc4c 0%, #81a338 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #99bc4c 0%, #81a338 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #99bc4c 0%, #81a338 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #99bc4c 0%, #81a338 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99bc4c', endColorstr='#81a338', GradientType=0);
  /* IE6-8 */
}
div.button.yellow a {
  background: #efce6c;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmY2U2YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWI0NTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #efce6c 0%, #eab459 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efce6c), color-stop(100%, #eab459));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #efce6c 0%, #eab459 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #efce6c 0%, #eab459 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #efce6c 0%, #eab459 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #efce6c 0%, #eab459 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efce6c', endColorstr='#eab459', GradientType=0);
  /* IE6-8 */
}
div.button a {
  position: relative;
  z-index: 19;
  -webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  color: #222222;
  text-align: center;
  font-family: 'Otari', sans-serif;
  line-height: 1.25em;
  font-size: 1.35em;
  text-transform: uppercase;
  padding: 5px;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
div.button a:hover {
  color: #222;
}
div.button a:active {
  color: #222;
}
div.button a:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 98%;
  height: 92%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  margin: ;
  display: block;
  content: '';
  border: 1px #222 dashed;
  z-index: 22;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/* 	Navigation buttons */
.arrow {
  position: relative;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.arrow:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.arrow:active {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}
.arrow.right {
  margin-right: -50px;
}
.arrow.left {
  -webkit-transform: scale(0.8) rotate(180deg);
  -moz-transform: scale(0.8) rotate(180deg);
  -ms-transform: scale(0.8) rotate(180deg);
  -o-transform: scale(0.8) rotate(180deg);
  transform: scale(0.8) rotate(180deg);
  margin-left: -50px;
}
.arrow.left:hover {
  -webkit-transform: scale(1) rotate(180deg);
  -moz-transform: scale(1) rotate(180deg);
  -ms-transform: scale(1) rotate(180deg);
  -o-transform: scale(1) rotate(180deg);
  transform: scale(1) rotate(180deg);
}
.arrow.left:active {
  -webkit-transform: scale(0.7) rotate(180deg);
  -moz-transform: scale(0.7) rotate(180deg);
  -ms-transform: scale(0.7) rotate(180deg);
  -o-transform: scale(0.7) rotate(180deg);
  transform: scale(0.7) rotate(180deg);
}
.plaque-wrapper {
  position: relative;
  width: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 700px;
  z-index: 10;
  display: block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.plaque-wrapper .content {
  background-color: #855f3a;
  border: 7px #3e271b solid;
  border-bottom: 0px;
  border-top: 0px;
  min-height: 200px;
  padding: 20px 30px;
  margin: 0 4px;
  position: relative;
  top: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*	
		&:after {
			.woodTexture();
		}*/
}
.plaque-wrapper .content.flush {
  padding: 0px 10px;
}
.plaque-wrapper .content .title,
.plaque-wrapper .content p {
  position: relative;
  z-index: 12;
  -webkit-text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
  color: #f7f1f1;
  text-align: center;
  font-family: 'Otari', sans-serif;
}
.plaque-wrapper .content .title {
  font-family: 'Otari', sans-serif;
  line-height: 1.25em;
}
.plaque-wrapper .content p {
  padding: 25px 0px;
  padding-bottom: 0%;
  font-family: 'Droid Serif', Georgia, serif;
  color: #e6e6e6;
}
.plaque-wrapper .content a.link {
  padding: 0px 4px;
  font-family: 'Otari', sans-serif;
  font-size: 1.32em;
}
.plaque-wrapper .content .image-decoration,
.plaque-wrapper .content .image-shell {
  margin: 25px auto;
  margin-bottom: 0px;
}
.plaque-wrapper .content .image-decoration {
  display: block;
  overflow: auto;
  width: 350px;
  background-repeat: no-repeat;
  height: 40px;
}
.plaque-wrapper .content .image-shell {
  width: 45px;
  height: 40px;
  position: relative;
  display: block;
}
.plaque-wrapper .content .image-shell.left {
  float: left;
  left: 0px;
}
.plaque-wrapper .content .image-shell.right {
  float: right;
  right: 0px;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
.plaque-wrapper span.image-bar {
  position: relative;
  clear: both;
  display: block;
  margin: 0 40px;
  height: 40px;
  background-color: #855f3a;
  overflow: visible;
  background-repeat: repeat-x;
  background-size: 40px 40px;
  border-top: 6px solid #3e271b;
}
.plaque-wrapper span.image-bar.top {
  top: 4px;
  /* Extra pixels to prevent zoom errors */
  background-position: center -14px;
}
.plaque-wrapper span.image-bar.bottom {
  bottom: 4px;
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
  background-position: center -14px;
}
.plaque-wrapper span.image-corner {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
}
.plaque-wrapper span.image-corner.top {
  top: 4px;
}
.plaque-wrapper span.image-corner.top.right {
  float: right;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}
.plaque-wrapper span.image-corner.bottom {
  bottom: 4px;
}
.plaque-wrapper span.image-corner.bottom.left {
  -webkit-transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  transform: scaleY(-1);
}
.plaque-wrapper span.image-corner.bottom.right {
  float: right;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.plaque-wrapper span.image-corner.left {
  left: 4px;
  /* Extra pixels to prevent zoom errors */
}
.plaque-wrapper span.image-corner.right {
  right: 4px;
  /* Extra pixels to prevent zoom errors */
}
/* 	Containers for SVG images */
.character {
  position: relative;
  display: block;
}
.character.cow {
  width: 600px;
  height: 400px;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -300px;
  background-size: 100% 100%;
}
.character.chicken {
  width: 150px;
  height: 180px;
  margin-top: -90px;
  margin-left: -75px;
  background-size: 100% 100%;
}
.static {
  z-index: 198;
  overflow: visible;
  position: absolute;
}
.static.image-sheep_debris {
  width: 1200px;
  height: 650px;
}
.static.image-sheep_seedy {
  margin-left: -150px;
  margin-top: -150px;
  width: 300px;
  height: 300px;
  z-index: 203;
}
.static.image-bluebird,
.static.image-brownbird {
  top: 300px;
  left: 50%;
  width: 80px;
  height: 80px;
  display: block;
  z-index: 202;
}
.static.image-bluebird#bl1,
.static.image-brownbird#bl1 {
  margin-left: -600px;
}
.static.image-bluebird#bl2,
.static.image-brownbird#bl2 {
  margin-left: 300px;
}
.static.image-bluebird#br1,
.static.image-brownbird#br1 {
  margin-left: 300px;
}
.static.image-bluebird#br2,
.static.image-brownbird#br2 {
  margin-left: 300px;
}
.static.image-vote_box {
  width: 300px;
  height: 200px;
}
.static.image-hill_center {
  left: 50%;
  background-position: 0px 0px;
  width: 1200px;
  height: 1600px;
  display: block;
  z-index: 203;
}
.static.image-hill_center#center1 {
  top: 1150px;
  margin-left: -600px;
}
.static.image-hill_center#center2 {
  top: 2600px;
  margin-left: -700px;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.static.image-clouds {
  top: 0px;
  left: 0px;
  background-repeat: repeat-x;
  background-color: #c5dfdc;
  width: 100%;
  height: 1200px;
  display: block;
  z-index: 198;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-transform: translate3D(0, 0, 0);
  -moz-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  -o-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
  /* Other transform properties here */
  -webkit-animation: cloudLoop 80s linear infinite;
  -moz-animation: cloudLoop 80s linear infinite;
  -o-animation: cloudLoop 80s linear infinite;
  animation: cloudLoop 80s linear infinite;
}
.static.image-sheep_fence {
  width: 800px;
  height: 400px;
  display: block;
}
.static.image-signpost {
  top: 730px;
  left: 50%;
  margin-left: -520px;
  width: 30px;
  height: 340px;
  display: block;
  z-index: 206;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  cursor: pointer;
}
.static.image-signpost .image-enrol_sign {
  position: absolute;
  left: 50%;
  top: -35px;
  width: 135px;
  height: 80px;
  z-index: 203;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  cursor: pointer;
}
.static.image-signpost .image-enrol_sign:hover {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
div.flag_banner.image-flag_banner {
  position: absolute;
  left: 50%;
  height: 150px;
  width: 800px;
  margin: 0 auto;
  margin-top: 120px;
  margin-left: -400px;
  /*
		.animation(float 4s forwards infinite);*/
}
div.flag_banner h4 {
  margin-top: 26px;
  color: #fff;
  z-index: 30;
  font-family: 'Otari';
  font-weight: bold;
  font-size: 1.7em;
  text-align: center;
}
/* 	Animated content titles */
.animated-title {
  position: relative;
  font-family: 'Otari', sans-serif;
  font-size: 2em;
  display: block;
  padding: 20px;
  text-align: center;
  min-width: 1000px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform-origin: 50% 80%;
  -moz-transform-origin: 50% 80%;
  -o-transform-origin: 50% 80%;
  -ms-transform-origin: 50% 80%;
  transform-origin: 50% 80%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.animated-title div.title {
  width: 200px;
  height: 265px;
  background-size: 100% 100%;
  margin: 0 auto;
  display: inline-block;
}
.animated-title div.title.image-onthefence_title {
  width: 300px;
}
.animated-title div.flag {
  position: inherit;
  margin-top: 45px;
  width: 300px;
  height: 180px;
  background-size: 100% 100%;
  background-position: center center;
  display: inline-block;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-transform: translate3D(0, 0, 0);
  -moz-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  -o-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
  /* Other transform properties here */
}
.animated-title div.flag .text-group {
  position: absolute;
  top: 66%;
  right: 14%;
  width: 100%;
  height: 20px;
  text-align: right;
  color: #56392F;
  z-index: 30;
  font-family: 'Otari';
  font-weight: bold;
  font-size: 0.75em;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  zoom: 1;
  filter: alpha(opacity=95);
  -webkit-opacity: 0.95;
  -moz-opacity: 0.95;
  opacity: 0.95;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  text-rendering: optimizeLegibility;
}
.animated-title div.flag.flag-left {
  -webkit-animation: float 4s forwards infinite;
  -moz-animation: float 4s forwards infinite;
  -o-animation: float 4s forwards infinite;
  animation: float 4s forwards infinite;
  background-position: right center;
}
.animated-title div.flag.flag-left .text-group {
  -webkit-transform: rotateZ(-2deg);
  -moz-transform: rotateZ(-2deg);
  -ms-transform: rotateZ(-2deg);
  -o-transform: rotateZ(-2deg);
  transform: rotateZ(-2deg);
}
.animated-title div.flag.flag-right {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  -webkit-animation: float 4s reverse infinite;
  -moz-animation: float 4s reverse infinite;
  -o-animation: float 4s reverse infinite;
  animation: float 4s reverse infinite;
  background-position: right center;
}
.animated-title div.flag.flag-right .text-group {
  -webkit-transform: rotateZ(182deg);
  -moz-transform: rotateZ(182deg);
  -ms-transform: rotateZ(182deg);
  -o-transform: rotateZ(182deg);
  transform: rotateZ(182deg);
  text-align: left;
}
.animated-title div.flag.red path {
  fill: red;
}
/* 
	Custom Styles
*/
body {
  background: #90a73e;
  overflow-x: hidden;
}
body:after {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #c5dfdc;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  content: '';
}
body.loading {
  overflow: hidden !important;
}
body.loading:after {
  display: block;
  z-index: 9999;
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
body.loading div.sticky-wrapper .header-wrapper {
  margin-top: -55px !important;
}
body span.preload {
  position: absolute;
}
/* 
	Nav Menu
*/
#menu-toggle {
  position: relative;
  cursor: pointer;
  z-index: 901;
  width: 120px;
  clear: none;
  text-align: left;
  height: 55px;
  padding: 20px 15px;
}
#menu-toggle span {
  width: 100%;
  max-width: 30px;
  height: 3px;
  background: #e7a827;
  margin: 5px 0px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  backface-visibility: hidden;
  display: block;
}
#menu-toggle span:first-child {
  margin-top: 0px;
}
#menu-toggle span:last-child {
  margin-bottom: 0px;
}
#menu-toggle.active span {
  background: #f6dfb1;
}
#menu-toggle.active span.one {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
  -moz-transform: rotate(45deg) translate(5px, 6px);
  -ms-transform: rotate(45deg) translate(5px, 6px);
  -o-transform: rotate(45deg) translate(5px, 6px);
  transform: rotate(45deg) translate(5px, 6px);
}
#menu-toggle.active span.two {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
#menu-toggle.active span.three {
  -webkit-transform: rotate(-45deg) translate(5px, -6px);
  -moz-transform: rotate(-45deg) translate(5px, -6px);
  -ms-transform: rotate(-45deg) translate(5px, -6px);
  -o-transform: rotate(-45deg) translate(5px, -6px);
  transform: rotate(-45deg) translate(5px, -6px);
}
.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0;
}
.menu-link,
nav[role=navigation] ul li a {
  font-family: 'Otari', sans-serif;
  color: #e7a827;
  font-size: 1.1em;
  -webkit-text-shadow: 0px 0px 2px #000000;
  -moz-text-shadow: 0px 0px 2px #000000;
  text-shadow: 0px 0px 2px #000000;
  display: block;
  padding: 20px 20px;
  height: 100%;
}
/* Mobile State */
nav[role=navigation] {
  z-index: 900;
  width: auto;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
nav[role=navigation] ul {
  margin: 0;
  padding: 0;
}
nav[role=navigation] ul li {
  display: block;
  width: 100%;
  height: 55px;
  background: #2b160e;
  float: left;
  clear: both;
  border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
}
nav[role=navigation] ul li a {
  z-index: 902;
}
nav[role=navigation] ul li a:hover,
nav[role=navigation] ul li a:active {
  color: #f6dfb1;
}
nav[role=navigation].active {
  max-height: 15em;
}
/* Default State */
@media screen and (min-width: 48.25em) {
  #menu-toggle {
    display: none;
  }
  .js nav[role=navigation] {
    max-height: 55px;
    height: 55px;
  }
  .js nav[role=navigation] ul {
    margin: 0 0 0 -0.25em;
    border: 0;
  }
  .js nav[role=navigation] ul li {
    display: inline-block;
    width: auto;
    margin: 0 0.25em;
    background: none;
    clear: none;
  }
  .js nav[role=navigation] ul li a {
    padding: 20px 15px;
    border: 0;
  }
}
div.sticky-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 200;
}
.header-wrapper {
  width: 100%;
  height: 55px;
  max-height: 55px;
  display: block;
  background: #000;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 400;
  background: #2b160e url('../img/light.png') 50% 0 no-repeat;
  border-bottom: #555 solid 1px;
  margin-top: 0px;
  -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
  -webkit-transition: max-height 0.1s, margin 1s;
  -moz-transition: max-height 0.1s, margin 1s;
  -o-transition: max-height 0.1s, margin 1s;
  transition: max-height 0.1s, margin 1s;
}
.header-wrapper.stuck {
  position: fixed;
}
.header-wrapper:before,
.header-wrapper:after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
}
.header-wrapper:before {
  background: url('../img/twirl.png?v=2') repeat-x;
  z-index: 200;
}
.header-wrapper:after {
  background: url('../img/texture.png') repeat;
  zoom: 1;
  filter: alpha(opacity=5000);
  -webkit-opacity: 50;
  -moz-opacity: 50;
  opacity: 50;
  z-index: 200;
}
.header-wrapper #social {
  display: inline-block;
  position: relative;
  z-index: 900;
  min-width: 200px;
  float: right;
  text-align: right;
}
.header-wrapper #social li {
  display: inline-block;
}
.header-wrapper #social a {
  position: relative;
  display: inline-block;
  padding: 0;
  height: 100%;
  font-family: 'Otari', sans-serif;
  color: #e7a827;
  text-decoration: none;
  font-style: none;
  cursor: pointer !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-text-shadow: 0px 0px 2px #000000;
  -moz-text-shadow: 0px 0px 2px #000000;
  text-shadow: 0px 0px 2px #000000;
}
.header-wrapper #social a:last-child {
  padding-right: 15px;
}
.header-wrapper #social a .image-twitter_button,
.header-wrapper #social a .image-facebook_button {
  width: 75px;
  height: 95px;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  z-index: 199;
}
.header-wrapper #social a:hover,
.header-wrapper #social a:active {
  color: #f6dfb1;
}
.header-wrapper #social a:hover {
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  transform: translateY(3px);
}
.header-wrapper #social a:hover:after {
  zoom: 1;
  filter: alpha(opacity=1000);
  -webkit-opacity: 10;
  -moz-opacity: 10;
  opacity: 10;
}
.header-wrapper #social a:active {
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}
article.main-wrapper {
  position: relative;
  top: 0px;
  width: 100%;
  display: block;
  z-index: 100;
  padding: 0;
  margin: 0;
  padding-bottom: 150px;
  overflow: hidden;
  z-index: 199;
}
article.main-wrapper section {
  position: relative;
  left: 0px;
  width: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  display: table;
}
article.main-wrapper section h2 {
  line-height: 1.18em;
  font-size: 2em;
  color: #222222;
  -webkit-text-shadow: 0px 1px 0px #ffffff;
  -moz-text-shadow: 0px 1px 0px #ffffff;
  text-shadow: 0px 1px 0px #ffffff;
}
article.main-wrapper section h3 {
  line-height: 1.18em;
  font-size: 1.7em;
  color: #222222;
  -webkit-text-shadow: 0px 1px 0px #ffffff;
  -moz-text-shadow: 0px 1px 0px #ffffff;
  text-shadow: 0px 1px 0px #ffffff;
}
article.main-wrapper section .container {
  z-index: 205;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%) !important;
  -moz-transform: translateY(-50%) translateX(-50%) !important;
  -ms-transform: translateY(-50%) translateX(-50%) !important;
  -o-transform: translateY(-50%) translateX(-50%) !important;
  transform: translateY(-50%) translateX(-50%) !important;
  /* Debug */
  /*			
			div {
				background:rgba(0,0,0,.3);
			}*/
}
article.main-wrapper section .container img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  border: 0;
}
article.main-wrapper section.tweets {
  background-repeat: repeat;
  z-index: 202;
  height: 200px;
  min-height: 200px;
}
article.main-wrapper section.banner {
  margin-top: 0px;
  top: 55px;
}
article.main-wrapper section.banner .arrow {
  z-index: 206;
}
article.main-wrapper section.banner .arrow.left {
  position: absolute;
  top: 50%;
  left: 15%;
}
article.main-wrapper section.banner .arrow.right {
  position: absolute;
  top: 50%;
  right: 15%;
}
article.main-wrapper section.banner .welcome {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
article.main-wrapper section.banner .image-onthefence_logo {
  height: 350px;
  width: 350px;
  margin: 0 auto;
}
article.main-wrapper section.hill {
  top: 0px;
  height: 600px;
  background-position: center center;
  background-repeat: repeat-x;
  /*background-color:#c5dfdc;*/
  z-index: 200;
}
article.main-wrapper section.hill .image-sheep_fence {
  position: relative;
  top: 200px;
  left: 50%;
  background-repeat: no-repeat;
  margin-left: -200px;
  z-index: 202;
}
article.main-wrapper section.about {
  top: 0px;
  height: 800px;
  background: #90a73e;
}
article.main-wrapper section.about .cow {
  margin-top: -250px;
  margin-left: -380px;
}
article.main-wrapper section.about .chicken {
  margin-left: 150px;
  margin-top: -50px;
}
article.main-wrapper section.about .chicken .image-vote_box {
  z-index: -1;
  margin-top: 170px;
  margin-left: -20px;
}
article.main-wrapper section.spacer {
  height: 500px;
  top: 150px;
}
article.main-wrapper section.spacer .image-sheep_seedy {
  position: absolute;
  top: 50%;
  left: 50%;
}
article.main-wrapper section#spacer2 {
  height: 200px;
}
article.main-wrapper section.play {
  /*background:#90a73e;*/
  top: 0px;
  height: 700px;
}
article.main-wrapper section.play .image-sheep_debris {
  position: relative;
  top: 400px;
  left: 0px;
  margin-left: -300px;
}
.footer-wrapper {
  position: relative;
  top: 0px;
  margin-top: -120px;
  display: block;
  width: 100%;
  height: 120px;
  float: left;
  z-index: 300;
}
.footer-wrapper .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.footer-wrapper .container .row a {
  color: rgba(0, 0, 0, 0.3);
  font-family: 'Otari', sans-serif;
  font-size: 0.8em;
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 1.35em;
  cursor: pointer;
  text-align: left;
  padding-top: 25px;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.footer-wrapper .container .row a:hover,
.footer-wrapper .container .row a:active {
  color: rgba(0, 0, 0, 0.7);
}
.footer-wrapper .container .row div:last-child a {
  text-align: right;
}
/* 
	Banner Slider Styles 	
*/
.slide-wrapper {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.slide-wrapper .container {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.slide-wrapper .container .row {
  text-align: center;
}
.slide-wrapper .container .row p {
  padding: 20px;
}
.slide-wrapper .container.active-slide-left,
.slide-wrapper .container.active-slide-right {
  zoom: 1;
  filter: alpha(opacity=10000);
  -webkit-opacity: 100;
  -moz-opacity: 100;
  opacity: 100;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.slide-wrapper .container.active-slide-left .row:nth-child( 0) {
  -webkit-animation: bounceInLeft 0.5s ease 1;
  -moz-animation: bounceInLeft 0.5s ease 1;
  -o-animation: bounceInLeft 0.5s ease 1;
  animation: bounceInLeft 0.5s ease 1;
}
.slide-wrapper .container.active-slide-left .row:nth-child( 1) {
  -webkit-animation: bounceInLeft 0.6s ease 1;
  -moz-animation: bounceInLeft 0.6s ease 1;
  -o-animation: bounceInLeft 0.6s ease 1;
  animation: bounceInLeft 0.6s ease 1;
}
.slide-wrapper .container.active-slide-left .row:nth-child( 2) {
  -webkit-animation: bounceInLeft 0.7s ease 1;
  -moz-animation: bounceInLeft 0.7s ease 1;
  -o-animation: bounceInLeft 0.7s ease 1;
  animation: bounceInLeft 0.7s ease 1;
}
.slide-wrapper .container.active-slide-left .row:nth-child( 3) {
  -webkit-animation: bounceInLeft 0.8s ease 1;
  -moz-animation: bounceInLeft 0.8s ease 1;
  -o-animation: bounceInLeft 0.8s ease 1;
  animation: bounceInLeft 0.8s ease 1;
}
.slide-wrapper .container.active-slide-left .row:nth-child( 4) {
  -webkit-animation: bounceInLeft 0.9s ease 1;
  -moz-animation: bounceInLeft 0.9s ease 1;
  -o-animation: bounceInLeft 0.9s ease 1;
  animation: bounceInLeft 0.9s ease 1;
}
.slide-wrapper .container.active-slide-left .row:nth-child( 5) {
  -webkit-animation: bounceInLeft 1s ease 1;
  -moz-animation: bounceInLeft 1s ease 1;
  -o-animation: bounceInLeft 1s ease 1;
  animation: bounceInLeft 1s ease 1;
}
.slide-wrapper .container.active-slide-right .row:nth-child( 0) {
  -webkit-animation: bounceInRight 0.5s ease 1;
  -moz-animation: bounceInRight 0.5s ease 1;
  -o-animation: bounceInRight 0.5s ease 1;
  animation: bounceInRight 0.5s ease 1;
}
.slide-wrapper .container.active-slide-right .row:nth-child( 1) {
  -webkit-animation: bounceInRight 0.6s ease 1;
  -moz-animation: bounceInRight 0.6s ease 1;
  -o-animation: bounceInRight 0.6s ease 1;
  animation: bounceInRight 0.6s ease 1;
}
.slide-wrapper .container.active-slide-right .row:nth-child( 2) {
  -webkit-animation: bounceInRight 0.7s ease 1;
  -moz-animation: bounceInRight 0.7s ease 1;
  -o-animation: bounceInRight 0.7s ease 1;
  animation: bounceInRight 0.7s ease 1;
}
.slide-wrapper .container.active-slide-right .row:nth-child( 3) {
  -webkit-animation: bounceInRight 0.8s ease 1;
  -moz-animation: bounceInRight 0.8s ease 1;
  -o-animation: bounceInRight 0.8s ease 1;
  animation: bounceInRight 0.8s ease 1;
}
.slide-wrapper .container.active-slide-right .row:nth-child( 4) {
  -webkit-animation: bounceInRight 0.9s ease 1;
  -moz-animation: bounceInRight 0.9s ease 1;
  -o-animation: bounceInRight 0.9s ease 1;
  animation: bounceInRight 0.9s ease 1;
}
.slide-wrapper .container.active-slide-right .row:nth-child( 5) {
  -webkit-animation: bounceInRight 1s ease 1;
  -moz-animation: bounceInRight 1s ease 1;
  -o-animation: bounceInRight 1s ease 1;
  animation: bounceInRight 1s ease 1;
}
/* Retina ----------- */
@media only screen and (min-height: 600px) {
  article.main-wrapper section.banner {
    height: 700px;
  }
  article.main-wrapper section.hill {
    top: -100px;
  }
}
@media only screen and (max-height: 599px) {
  article.main-wrapper section.banner {
    height: 500px;
  }
  article.main-wrapper section.hill {
    top: 0px;
  }
}
