/*

  ~ chrisnicholls.co.nz

*/
/*

  Less Mixin Library  
  Lesshat plus extras

  ~ chrisnicholls.co.nz

*/
.animated-title {
  -webkit-transform: translateX(-50%) scale(0.5) !important;
  -moz-transform: translateX(-50%) scale(0.5) !important;
  -ms-transform: translateX(-50%) scale(0.5) !important;
  -o-transform: translateX(-50%) scale(0.5) !important;
  transform: translateX(-50%) scale(0.5) !important;
}
.static.image-sheep_fence {
  margin-left: -360px;
}
.static.image-signpost {
  display: none;
}
