@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);
/*

	~chrisnicholls.co.nz

*/
@charset 'UTF-8';
/*

	Typography 

	~	chrisnicholls.co.nz

*/
@font-face {
  font-family: 'Otari';
  src: url('../css/fonts/otari-bold-limited-webfont.eot');
  src: url('../css/fonts/otari-bold-limited-webfont.eot?#iefix') format('embedded-opentype'), url('../css/fonts/otari-bold-limited-webfont.woff') format('woff'), url('../css/fonts/otari-bold-limited-webfont.ttf') format('truetype'), url('../css/fonts/otari-bold-limited-webfont.svg#otari-bold-limitedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 100%;
  font-family: 'Droid Serif', serif;
  font-weight: 300;
}
h1 {
  font-size: 2.5em;
  font-family: 'Otari', sans-serif;
  font-weight: 600;
}
h2 {
  font-size: 2em;
  font-family: 'Otari', sans-serif;
  font-weight: 600;
}
h3 {
  font-size: 1.5em;
  font-family: 'Otari', sans-serif;
  font-weight: 600;
}
h4 {
  font-size: 1.2em;
  font-family: 'Otari', sans-serif;
  font-weight: 600;
}
h5 {
  font-size: 1.1em;
  font-family: 'Otari', sans-serif;
  font-weight: 600;
}
h6 {
  font-size: 1em;
  font-family: 'Otari', sans-serif;
  font-weight: 600;
}
p {
  font-size: 1em;
  font-family: 'Droid Serif', serif;
  font-weight: 300;
  line-height: 1.5em;
}
a,
a:hover,
a:active,
a:visited {
  color: #777;
  text-decoration: none;
  font-style: none;
}
/*
	Frameless			<http://framelessgrid.com/>
	by Joni Korpi 		<http://jonikorpi.com/>
	licensed under CC0	<http://creativecommons.org/publicdomain/zero/1.0/>
*/
/*@13cols: (13 * (@column + @gutter) - @gutter) / @em;
@14cols: (14 * (@column + @gutter) - @gutter) / @em;
@15cols: (15 * (@column + @gutter) - @gutter) / @em;
@16cols: (16 * (@column + @gutter) - @gutter) / @em;*/
/*
	Margin, padding, and border resets
	except for form elements
*/
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}
/*
	Consistency fixes
	adopted from http://necolas.github.com/normalize.css/
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
  display: block;
}
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  min-height: 100%;
  font-size: 100%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
b,
strong {
  font-weight: bold;
}
abbr[title] {
  border-bottom: 1px dotted;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img,
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
}
input,
textarea,
button,
select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  overflow: auto;
}
/*
	These are easy to forget
*/
::selection {
  background: red;
  color: white;
}
::-moz-selection {
  background: red;
  color: white;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0.62);
}
/*
	Style overrides for IE6-8
	http://jonikorpi.com/leaving-old-IE-behind/
*/
/*
	An easy way to zoom your entire layout in or out (as long as it's set in ems).
	Just change the media queries to activate them.
	Assuming your base font-size is 16:
	- the first one zooms out by a factor of (16-2)/16 = 0.875
	- the second one zooms in by a factor of (16+2)/16 = 1.125  
*/
@media screen and (max-width: 1px) {
  body {
    font-size: -0.0625em;
  }
}
@media screen and (max-width: 1px) {
  body {
    font-size: 0.1875em;
  }
}
/*

  Less Mixin Library  
  Lesshat plus extras

  ~ chrisnicholls.co.nz

*/
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes float{ 0%, 20%, 50%, 80%, 100% { top:0px; }	40% { top:-30px;}	60% { top:-15px;} }}
@-moz-keyframes float{ 0%, 20%, 50%, 80%, 100% { top:0px; }	40% { top:-30px;}	60% { top:-15px;} }}
@-o-keyframes float{ 0%, 20%, 50%, 80%, 100% { top:0px; }	40% { top:-30px;}	60% { top:-15px;} }}
@keyframes float{ 0%, 20%, 50%, 80%, 100% { top:0px; }	40% { top:-30px;}	60% { top:-15px;} };
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes slideDown{ 0% { top:-55px;}	100% { top:0px;} }}
@-moz-keyframes slideDown{ 0% { top:-55px;}	100% { top:0px;} }}
@-o-keyframes slideDown{ 0% { top:-55px;}	100% { top:0px;} }}
@keyframes slideDown{ 0% { top:-55px;}	100% { top:0px;} };
}
/*

~chrisnicholls.co.nz

*/
/*
	Global Styles
*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
}
/*  
	Useful Modules
*/
.arrow {
  position: relative;
  width: 90px;
  height: 90px;
  margin-top: -45px;
  margin-left: -45px;
  background: rgba(255, 255, 255, 0.5);
  border: 2px #ffffff solid;
  display: block;
  -webkit-border-radius: 45px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 45px;
  -moz-background-clip: padding;
  border-radius: 45px;
  background-clip: padding-box;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.arrow:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.arrow:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.arrow:after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 70%;
  display: block;
  margin-top: -45%;
  margin-left: -35%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  content: '';
}
.arrow.left:after {
  font-size: 5em;
  content: '<';
}
.arrow.right:after {
  content: 'TST';
}
.plaque {
  position: relative;
  max-width: 750px;
  min-width: 400px;
  min-height: 80px;
  width: 100%;
  padding: 20px;
  color: #f7f1f1;
  z-index: 10;
  text-align: center;
  text-shadow: 0px -1px 1px #000000;
  background: url('../img/box-mid.png') repeat-y;
  font-family: 'Otari', sans-serif;
  display: block;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
.plaque .title {
  font-family: 'Otari', sans-serif;
}
.plaque p {
  padding: 15px 10px;
  padding-bottom: 0%;
  font-family: 'Droid Serif', serif;
}
.plaque:after,
.plaque:before {
  position: absolute;
  width: 100%;
  height: 36px;
  left: 0px;
  display: block;
  content: '';
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.plaque:before {
  top: -35px;
  background: url('../img/box-top.png') no-repeat;
}
.plaque:after {
  bottom: -35px;
  background: url('../img/box-bottom.png') no-repeat;
  z-index: -1;
}
.character {
  position: relative;
  display: block;
}
.character.cow {
  width: 800px;
  height: 400px;
  margin-top: -200px;
  margin-left: -400px;
  background-size: 100% 100%;
}
.character.chicken {
  width: 150px;
  height: 180px;
  margin-top: -90px;
  margin-left: -75px;
  background-size: 100% 100%;
}
.animated-title {
  position: relative;
  left: 50%;
  float: left;
  font-family: 'Otari', sans-serif;
  font-size: 2em;
  display: block;
  padding: 20px;
  text-align: center;
  min-width: 1000px;
  margin-left: -500px;
}
.animated-title div.title {
  margin: 0 auto;
  display: inline-block;
}
.animated-title div.title img {
  position: relative;
  padding: 0;
  margin: 0;
}
.animated-title div.flag {
  position: inherit;
  margin-top: 45px;
  width: 300px;
  height: 180px;
  background-size: 100% 100%;
  background-position: center center;
  display: inline-block;
}
.animated-title div.flag.flag-left {
  -webkit-animation: float 4s infinite;
  -moz-animation: float 4s infinite;
  -o-animation: float 4s infinite;
  animation: float 4s infinite;
  background-position: right center;
}
.animated-title div.flag.flag-right {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  -webkit-animation: float 4.3s infinite;
  -moz-animation: float 4.3s infinite;
  -o-animation: float 4.3s infinite;
  animation: float 4.3s infinite;
  background-position: right center;
}
/* 
	Custom Styles
*/
body {
  background: #90a73e;
}
.header-wrapper {
  width: 100%;
  height: 55px;
  display: block;
  background: #000;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 400;
  background: #2b160e url('../img/light.png') 50% 0 no-repeat;
  border-bottom: #555 solid 2px;
}
.header-wrapper.stuck {
  position: fixed !important;
  -webkit-animation: slideDown 0.5s ease 1;
  -moz-animation: slideDown 0.5s ease 1;
  -o-animation: slideDown 0.5s ease 1;
  animation: slideDown 0.5s ease 1;
}
.header-wrapper:before,
.header-wrapper:after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
}
.header-wrapper:before {
  background: url('../img/twirl.png') repeat-x;
  z-index: 200;
}
.header-wrapper:after {
  background: url('../img/texture.png') repeat;
  zoom: 1;
  filter: alpha(opacity=5000);
  -webkit-opacity: 50;
  -moz-opacity: 50;
  opacity: 50;
  z-index: 200;
}
.header-wrapper #header {
  position: absolute;
  left: 50%;
  top: 0px;
  width: 100%;
  height: 100%;
  max-width: 1600px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  min-width: 480px;
  z-index: 401;
}
.header-wrapper #header #nav,
.header-wrapper #header #social {
  display: inline-block;
}
.header-wrapper #header #nav a,
.header-wrapper #header #social a {
  display: inline-block;
  padding: 20px 15px;
  height: 100%;
  font-family: 'Otari', sans-serif;
  color: #e7a827;
  text-decoration: none;
  font-style: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-shadow: 0px 0px 2px #000000;
}
.header-wrapper #header #nav a:hover,
.header-wrapper #header #social a:hover,
.header-wrapper #header #nav a:active,
.header-wrapper #header #social a:active {
  color: #f6dfb1;
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -o-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
}
.header-wrapper #header #nav {
  width: 65.5%;
  height: 100%;
  text-align: left;
  margin-right: 1%;
}
.header-wrapper #header #nav a:first-child {
  padding-left: 15px;
}
.header-wrapper #header #social {
  width: 32.5%;
  height: 100%;
  float: right;
  text-align: right;
}
.header-wrapper #header #social a:last-child {
  padding-right: 15px;
}
article.main-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: block;
  z-index: 100;
  margin: 0;
}
article.main-wrapper section {
  position: relative;
  left: 0px;
  width: 100%;
  height: 100%;
  min-height: 600px;
  min-width: 320px;
  margin: 0;
  display: block;
}
article.main-wrapper section .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
article.main-wrapper section .container div.clear {
  display: block;
  height: 1px;
  clear: both;
  width: 100%;
  float: left;
}
article.main-wrapper section .container div.content {
  margin: 0px auto;
  display: block;
  position: relative;
  /* Sizes */
  /* Positioning */
}
article.main-wrapper section .container div.content:first-child {
  margin-left: 0 !important;
}
article.main-wrapper section .container div.content:last-child {
  margin-right: 0 !important;
}
article.main-wrapper section .container div.content.half {
  width: 50%;
}
article.main-wrapper section .container div.content.third {
  width: 33%;
}
article.main-wrapper section .container div.content.full {
  width: 100%;
}
article.main-wrapper section .container div.content-title {
  float: left;
  width: 100%;
}
article.main-wrapper section .container div.content-title.push-right {
  float: right;
  text-align: right;
  width: 50%;
}
article.main-wrapper section .container div.content-title.push-left {
  float: left;
  text-align: left;
  width: 50%;
}
article.main-wrapper section.tweets {
  background: #b8ccc8 url('../img/birds.png');
}
article.main-wrapper section.banner {
  background-position: center center;
  background-repeat: repeat-x;
  background-color: #c5dfdc;
  z-index: 200;
}
article.main-wrapper section.banner .arrow {
  z-index: 201;
}
article.main-wrapper section.banner .arrow.left {
  position: absolute;
  top: 50%;
  left: 15%;
}
article.main-wrapper section.banner .arrow.right {
  position: absolute;
  top: 50%;
  right: 15%;
}
article.main-wrapper section.about {
  background: #90a73e;
  z-index: 201;
  overflow: visible;
}
article.main-wrapper section.about .cow {
  margin-left: -200px;
}
article.main-wrapper section.play {
  background: #90a73e;
}
.footer-wrapper {
  position: relative;
  top: 0px;
  left: 0px;
  display: none;
  width: 100%;
  height: 55px;
  float: left;
  z-index: 300;
  background: #2b160e url('../img/light.png') 50% bottom no-repeat;
  border-top: #333 solid 2px;
}
.footer-wrapper:after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
}
.footer-wrapper:after {
  background: url('../img/texture.png') repeat;
  zoom: 1;
  filter: alpha(opacity=5000);
  -webkit-opacity: 50;
  -moz-opacity: 50;
  opacity: 50;
  z-index: 200;
}
